[mysqld_safe]
log_error=/var/log/mysql/mysql_error.log

[mysqld]
general_log = 1
slow_query_log = 1
long_query_time = 3
log_error=/var/log/mysql/mysql_error.log
general_log_file = /var/log/mysql/mysql.log
slow_query_log = /var/log/mysql/mysql_slow_queries.log
log-queries-not-using-indexes
