/* Fix weird styling for text inputs and textareas */
.inline-text-input,
.inline-textarea {
    width: 97%;
}
.enable-vertical-resize {
    resize: vertical;
    min-height: 1.25em;
}
.disable-resize {
    resize: none;
}

/* Fixes tabularinline styles for the DELETE? button(s) */
th.required {
    width: 92%;
}
td.delete {
    text-align: center;
    display: flex;
    justify-content: left;
    border-bottom: none;
    padding-left: 10px;
}

/* For dates of creation or revision */
.non-editable-field {
    font-size: 14px;
    padding: 6px 0 0 0;
}

/* For the country select flag */
.country-select-flag {
    object-fit: contain;
  }