{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "About" %}
{% endblock title %}
{% block content %}
    <div class="max-w-4xl mx-auto px-4 py-8">
        <div class="mb-2 text-4xl text-primary">{% trans "About" %}</div>
        <div class="card">
            <div class="card-body">
                <p class="text-lg leading-relaxed text-base-content">
                    {% blocktrans %}
                    The NCTR Record Transfer Portal allows people to send records to the National Centre for Truth
                    and Reconciliation (NCTR) Archives securely over the internet. For small record submissions, this
                    is the preferred method of sending records to the NCTR Archives.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        {% if FILE_UPLOAD_ENABLED %}
            <div class="text-2xl text-primary mb-4 mt-8">{% trans "Maximum Submission Size" %}</div>
            <div class="alert !p-5">
                <i class="fas fa-info-circle pointer-events-none"></i>
                <div class="text-sm">
                    {% blocktrans %}
                    Submissions made through the transfer portal are subject to the maximum submission size.
                    You may upload a <b>maximum of {{ MAX_TOTAL_UPLOAD_COUNT }} files</b>, and <b>at most
                    {{ MAX_TOTAL_UPLOAD_SIZE_MB }} MB of files</b>. Any <b>one file may not exceed
                    {{ MAX_SINGLE_UPLOAD_SIZE_MB }} MB</b>. If you would like to submit <i>more</i> than this
                    amount, please split your submission into multiple parts, and use the group form to group similar
                    submissions together so our archivists know your submissions are related.
                    {% endblocktrans %}
                </div>
            </div>
            <div class="flex-med-width-item mb-4">
                <div class="collapse collapse-arrow border border-base-300 rounded-lg bg-base-100">
                    <input type="checkbox"
                           class="peer"
                           aria-label="{% trans "Toggle accepted file types" %}" />
                    <div class="collapse-title text-base font-medium flex items-center">
                        <div class="text-2xl text-primary mb-4 mt-8">{% trans "Accepted File Types" %}</div>
                    </div>
                    {% include "includes/collapsable_accepted_file_formats.html" %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
