{% load static %}
{% load i18n %}

<div class="footer">
    <div class="footer-container">
        <div class="footer-column footer-logo">
            <div class="logo-container">
                <img src="{% static 'logo-white.webp' %}" alt="{% trans 'white NCTR logo' %}" class="logo nctr-logo-img">
            </div>
            <div class="unesco-logo-container">
                <img src="{% static 'unesco.webp' %}" alt="{% trans 'UNESCO and NCTR logo' %}" class="logo unesco-logo-img">
            </div>
        </div>

        <div class="footer-column footer-more">
            <h3>More from the NCTR</h3>
            <ul class="footer-menu">
                <li><a href="#">Your records</a></li>
                <li><a href="#">Memorial</a></li>
                <li><a href="#">News and Events</a></li>
                <li><a href="#">Exhibits</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="footer-column footer-contact">

            <div class="contact-content">
                <h3>Contact Us</h3>
                <p>Chancellor's Hall, 177 Dysart Road,<br>
                University of Manitoba, Winnipeg</p>
                <p><i class="fas fa-phone-alt"></i> 1-855-415-4534</p>
                <p><i class="fas fa-envelope"></i> nctr@umanitoba.ca</p>
            </div>
    
            <div class="hidden-social-content">
                <h3>Connect with us</h3>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-column footer-social">
            <div class="social-content">
                <h3 class=>Connect with us</h3>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="hidden-unesco-logo-container">
                <img src="{% static 'unesco.webp' %}" alt="{% trans 'UNESCO and NCTR logo' %}" class="logo unesco-logo-img">
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 National Centre for Truth and Reconciliation</p>
    </div>
</div>