{% load static %}
{% load i18n %}

<div class="footer">
  <div class="footer-container">
    <div class="footer-column footer-logo">
      <div class="nctr-logo-container">
        <img src="{% static 'logo-white.webp' %}" alt="{% trans 'white NCTR logo' %}" class="logo nctr-logo-img" />
      </div>
      <div class="unesco-logo-container">
        <img src="{% static 'unesco.webp' %}" alt="{% trans 'UNESCO and NCTR logo' %}" class="logo unesco-logo-img" />
      </div>
    </div>

    <div class="footer-column footer-more">
      <h3>More from the NCTR</h3>
      <ul class="footer-menu">
        <li>
          <a href="https://nctr.ca/records/">{% trans 'Your records' %}</a>
        </li>
        <li>
          <a href="https://nctr.ca/memorial/">{% trans 'Memorial' %}</a>
        </li>
        <li>
          <a href="https://nctr.ca/news-and-events/">{% trans 'News and Events' %}</a>
        </li>
        <li>
          <a href="https://nctr.ca/exhibits/">{% trans 'Exhibits' %}</a>
        </li>
        <li>
          <a href="https://nctr.ca/education/">{% trans 'Education' %}</a>
        </li>
        <li>
          <a href="https://nctr.ca/research/">{% trans 'Research' %}</a>
        </li>
        <li>
          <a href="https://nctr.ca/about/">{% trans 'About' %}</a>
        </li>
      </ul>
    </div>

    <div class="footer-column footer-contact">
      <div class="contact-content">
        <h3>Contact Us</h3>
        <div class="contact-item">
          <div class="icon-container">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <a href="https://maps.app.goo.gl/S7cEoxgfSkxKrv836" class="non-nav-link">
            Chancellor's Hall, 177 Dysart Road,<br />
            University of Manitoba, Winnipeg
          </a>
        </div>
        <div class="contact-item">
          <div class="icon-container">
            <i class="fas fa-phone-alt"></i>
          </div>
          <a href="tel:1-855-415-4534" class="non-nav-link">1-855-415-4534</a>
        </div>
        <div class="contact-item">
          <div class="icon-container">
            <i class="fas fa-envelope"></i>
          </div>
          <a href="mailto:nctr@umanitoba.ca" class="non-nav-link">nctr@umanitoba.ca</a>
        </div>
      </div>

      <div class="hidden-social-content">
        <h3>Connect with us</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/nctr.ca" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://ca.linkedin.com/company/nctr-um" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.instagram.com/nctr_um/" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/c/NationalCentreforTruthandReconciliation" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-column footer-social">
      <div class="social-content">
        <h3 class="social-header">Connect with us</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/nctr.ca" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://ca.linkedin.com/company/nctr-um" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://www.instagram.com/nctr_um/" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/c/NationalCentreforTruthandReconciliation" class="social-icon"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 National Centre for Truth and Reconciliation</p>
  </div>
</div>
