{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Your Profile" %}
{% endblock title %}
{% block javascript %}
    {{ block.super }}
    {{ js_context|json_script:"py_context_user_profile" }}
    <script src="{% static 'profile.bundle.js' %}"></script>
{% endblock javascript %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock stylesheet %}
{% block theme %}
    nctr
{% endblock theme %}
{% block content %}
    {% if user.is_authenticated %}
        {% include "includes/profile_form.html" %}
        <br>
        <!-- In-Progress Submissions -->
        <div class="mt-5 mb-3">
            <label class="medium-text">{% trans "In-Progress Submissions" %}</label>
        </div>
        <div hx-get="{% url 'recordtransfer:in_progress_submission_table' %}"
             hx-trigger="load"
             id="{{ ID_IN_PROGRESS_SUBMISSION_TABLE }}"
             class="mb-10"></div>
        <!-- Past Submissions -->
        <div class="flex justify-between mb-3">
            <label class="medium-text">{% trans "Past Submissions" %}</label>
            <a href="{% url 'recordtransfer:submit' %}" class="btn btn-sm">
                {% trans "New submission" %}
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div hx-get="{% url 'recordtransfer:submission_table' %}"
             hx-trigger="load"
             id="{{ ID_SUBMISSION_TABLE }}"
             class="mb-10"></div>
        <!-- Submission Groups -->
        <div class="flex justify-between mb-3">
            <label class="medium-text">{% trans "Submission Groups" %}</label>
            <a href="{% url 'recordtransfer:submission_group_new' %}"
               class="btn btn-sm">
                {% trans "New submission group" %}
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div hx-get="{% url 'recordtransfer:submission_group_table' %}"
             hx-trigger="load"
             id="{{ ID_SUBMISSION_GROUP_TABLE }}"
             class="mb-10"></div>
    {% else %}
        {% url 'login' as login %}
        <p>
            {% blocktrans %}
            <a href="{{ login }}">Log in</a> to see your profile.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}
