{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Your Profile" %}
{% endblock title %}
{% block javascript %}
    {{ block.super }}
    {{ js_context|json_script:"py_context_user_profile" }}
    <script src="{% static 'profile.bundle.js' %}"></script>
{% endblock javascript %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock stylesheet %}
{% block theme %}
    nctr
{% endblock theme %}
{% block content %}
    {% include "includes/messages.html" %}
    {% include "includes/profile_form.html" %}
    <!-- Tabbed Content -->
    <div class="my-20">
        <div class="tabs tabs-lift">
            <!-- Past Submissions Tab -->
            <label class="tab">
                <input type="radio" name="profile_tabs" checked="checked">
                <i class="fa fa-check me-2" aria-hidden="true"></i> {% trans "Past Submissions" %}
            </label>
            <div class="tab-content bg-base-100 border-base-300 p-6">
                <div hx-get="{% url 'recordtransfer:submission_table' %}"
                     hx-trigger="load"
                     id="{{ ID_SUBMISSION_TABLE }}">
                    <div class="flex flex-col w-full items-center gap-4">
                        <div class="skeleton h-32 w-full"></div>
                        <div class="skeleton h-5 w-1/10"></div>
                    </div>
                </div>
                <div class="flex justify-end">
                    <a href="{% url 'recordtransfer:submit' %}" class="btn btn-sm">
                        <span class="hidden md:inline">{% trans "New submission" %}</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <!-- In-Progress Submissions Tab -->
            <label class="tab">
                <input type="radio" name="profile_tabs">
                <i class="fa fa-clock me-2" aria-hidden="true"></i> {% trans "In-Progress" %}
            </label>
            <div class="tab-content bg-base-100 border-base-300 p-6">
                <div hx-get="{% url 'recordtransfer:in_progress_submission_table' %}"
                     hx-trigger="load"
                     id="{{ ID_IN_PROGRESS_SUBMISSION_TABLE }}">
                    <div class="flex flex-col w-full items-center gap-4">
                        <div class="skeleton h-32 w-full"></div>
                        <div class="skeleton h-5 w-1/10"></div>
                    </div>
                </div>
            </div>
            <!-- Submission Groups Tab -->
            <label class="tab">
                <input type="radio" name="profile_tabs">
                <i class="fa fa-folder me-2" aria-hidden="true"></i> {% trans "Submission Groups" %}
            </label>
            <div class="tab-content bg-base-100 border-base-300 p-6">
                <div hx-get="{% url 'recordtransfer:submission_group_table' %}"
                     hx-trigger="load"
                     id="{{ ID_SUBMISSION_GROUP_TABLE }}">
                    <div class="flex flex-col w-full items-center gap-4">
                        <div class="skeleton h-32 w-full"></div>
                        <div class="skeleton h-5 w-1/10"></div>
                    </div>
                </div>
                <div class="flex justify-end">
                    <a hx-get="{% url 'recordtransfer:submission_group_new' %}"
                       hx-target="#modal-container"
                       hx-swap="innerHTML"
                       class="btn btn-sm">
                        <span class="hidden md:inline">{% trans "New submission group" %}</span>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div hx-on::after-swap="document.querySelector('.modal').showModal()"
         id="modal-container"></div>
{% endblock content %}
