{% load i18n %}
<div id="signup-error-container">
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="bg-red-50 border border-red-200 text-red-700 px-1 py-1 rounded-md mb-2">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="bg-red-50 border border-red-200 text-red-700 px-1 py-1 rounded-md mb-2">
                    {{ field.label }}: {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
