{% extends "recordtransfer/submission_form_standard.html" %}
{% load static %}
{% load i18n %}
{% block javascript %}
    {{ block.super }}
    {{ js_context|json_script:"py_context_submission_group" }}
{% endblock javascript %}
{% block buttonarrayclass %}
    flex-item
{% endblock buttonarrayclass %}
{% block formfields %}
    {% for field in wizard.form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="flex-error">
                    <label for="nothing"></label>
                    <div class="field-error">{{ error }}</div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="flex-item">
            <label for="{{ field.id_for_label }}" class="{{ field.css_classes }}">{{ field.label }}</label>
            {{ field }}
            {# Help tooltip #}
            {% if field.help_text %}
                <div tooltip-content="{{ field.help_text }}"
                     class="help-tooltip help-icon">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
            {% endif %}
            {% if field.name == "group_uuid" %}
                <button id="show-add-new-group-dialog" class="green-button" type="button">Add new group</button>
            {% endif %}
        </div>
    {% endfor %}
    <div class="flex-item">
        <label for="group_description">Group Description</label>
        <p id="{{ ID_DISPLAY_GROUP_DESCRIPTION }}">Describe the group and its purpose.</p>
    </div>
{% endblock formfields %}
{% block dialog %}
    <dialog id="create-new-submissiongroup-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>{% trans "Create New Submission Group" %}</h3>
                <button class="close-modal-button" id="close-new-submissiongroup-modal">
                    <img height="20"
                         width="20"
                         alt="Close"
                         src="{% static 'close_menu_64x64px.webp' %}"
                         draggable="false">
                </button>
            </div>
            <div class="modal-body">{% include "includes/submission_group_form.html" with form=new_group_form %}</div>
        </div>
    </dialog>
{% endblock dialog %}
