{% extends "recordtransfer/submission_form_standard.html" %}
{% load static %}
{% load i18n %}
{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
{% block formfields %}
    {% for field in wizard.form %}
        {% if field.label != 'hidden' %}
            <div class="flex-item {% if field.name != 'enter_manual_source_info' %}initially-hidden hidden{% endif %}">
                {% include "includes/submission_form_field.html" %}
            </div>
        {% else %}
            {# Render hidden field #}
            {{ field }}
        {% endif %}
        {% url 'recordtransfer:help' as help_url %}
        {% if field.name == "other_source_type" %}
            <div class="initially-hidden hidden">
                <div class="alert">
                    <i class="fas fa-exclamation-triangle pointer-events-none text-gray-400"></i>
                    <div class="text-sm">
                        {% blocktrans %}
                        <a class="non-nav-link link link-primary font-semibold" target="_blank" href="{{ help_url }}#source-types">Click here</a>
                        for an explanation of the different types of source types.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        {% elif field.name == "other_source_role" %}
            <div class="initially-hidden hidden">
                <div class="alert">
                    <i class="fas fa-exclamation-triangle pointer-events-none text-gray-400"></i>
                    <div class="text-sm">
                        {% blocktrans %}
                        <a class="non-nav-link link-primary font-semibold" target="_blank" href="{{ help_url }}#source-roles">Click here</a>
                        for an explanation of the different types of source roles.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock formfields %}
{% block buttonarrayclass %}
    flex-item
{% endblock buttonarrayclass %}
