{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans with currentstep=wizard.steps.step1 totalsteps=wizard.steps.count %}
        Submission Step {{ currentstep }} (of {{ totalsteps }})
    {% endblocktrans %}
{% endblock title %}
{% block javascript %}
    {{ block.super }}
    {{ wizard.steps.step1|json_script:"current_step_data" }}
    {{ js_context|json_script:js_context_id }}
{% endblock javascript %}
{% block stylesheet %}
    {{ block.super }}
{% endblock stylesheet %}
{% block content %}
    <div class="form-title title-text">
        {% blocktrans with currentstep=wizard.steps.step1 totalsteps=wizard.steps.count%}
            {{ form_title }} - Step {{ currentstep }} of {{ totalsteps }}
        {% endblocktrans %}
    </div>
    {% if info_message %}
        <p>
            <b>{{ info_message }}</b>
        </p>
    {% endif %}
    {% block messages %}
        {% include "includes/messages.html" %}
    {% endblock messages %}
    {% block form_explanation %}
    {% endblock form_explanation %}
    <form id="submission-form"
          hx-post="{{ request.get_full_path }}"
          hx-target="#main-container"
          hx-select="#main-container"
          hx-swap="outerHTML"
          method="POST">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.management_form }}
        {% block formfields %}{# !!! Add the form fields here !!! #}{% endblock %}
        <div class="{% block buttonarrayclass %}{% endblock buttonarrayclass %}">
            <label></label>
            <div class="button-array">
                {% if wizard.steps.prev %}
                    {# Without formnovalidate, you cannot go to the previous step without valid data #}
                    {# Which kind of defeats the purpose of going back to the previous step! #}
                    <button id="form-previous-button"
                            formnovalidate="formnovalidate"
                            name="wizard_goto_step"
                            value="{{ wizard.steps.prev }}"
                            class="btn btn-outline btn-primary margin-right-10px">{% trans "Previous Step" %}</button>
                {% endif %}
                {% if wizard.steps.step1 != wizard.steps.count|add:"-1" %}
                    {# Button is "next" by default but the id for a "submit" button can be overridden using this block #}
                    <button {% block submitbuttonattributes %}
                            id="form-next-button"
                            {% endblock submitbuttonattributes %}
                            type="{% block submitbuttontype %}submit{% endblock submitbuttontype %}"
                            class="btn btn-primary margin-right-30px">
                        {% if wizard.steps.step1 == wizard.steps.count %}
                            {% trans "Submit" %}
                        {% else %}
                            {% trans "Next Step" %}
                        {% endif %}
                    </button>
                {% endif %}
                {% if SHOW_REVIEW_BUTTON %}
                    <button id="form-review-button"
                            name="wizard_goto_step"
                            value="{{ wizard.steps.last }}"
                            class="green-button">
                        {% if wizard.steps.step1 == wizard.steps.count|add:"-1" %}
                            {% trans "Review" %}
                        {% else %}
                            {% trans "Return to Review" %}
                        {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
        <div class="{% block savelinkclass %}flex-item{% endblock savelinkclass %}">
            <label></label>
            {% if SHOW_SAVE_BUTTON %}
                <button id="form-save-button"
                        class="link link-primary"
                        formnovalidate="formnovalidate"
                        name="save_form_step"
                        value="{{ wizard.steps.current }}">{% trans "Click to save form and resume later" %}</button>
            {% endif %}
        </div>
    </form>
    {% include "includes/unsaved_changes_modal.html" %}
    {% include "includes/base_modal.html" %}
{% endblock content %}
