{% extends "recordtransfer/submission_form_standard.html" %}
{% load static %}
{% load i18n %}
{% block javascript %}
    {{ block.super }}
{% endblock javascript %}
{% block formfields %}
    {% for field in wizard.form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="flex-error initially-hidden">
                    <label for="nothing"></label>
                    <div class="field-error">{{ error }}</div>
                </div>
            {% endfor %}
        {% endif %}
        {% if field.label != 'hidden' %}
        <div class="flex-item {% if field.name != 'enter_manual_source_info' %}initially-hidden hidden{% endif %}">
            {% include "includes/submission_form_field.html" %}
            {# Help tooltip #}
            {% if field.help_text %}
                <div tooltip-content="{{ field.help_text }}"
                    class="help-tooltip help-icon mt-6">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
            {% endif %}
        </div>
        {% else %}
            {# Render hidden field #}
            {{ field }}
        {% endif %}
        {% url 'recordtransfer:help' as help_url %}
        {% if field.name == "other_source_type" %}
            <div class="initially-hidden hidden">
                <div class="alert mt-2">
                    <i class="fas fa-info-circle pointer-events-none"></i>
                    <div class="text-sm">
                        {% blocktrans %}
                        <a class="link link-primary font-semibold" target="_blank" href="{{ help_url }}#source-types">Click here</a>
                        for an explanation of the different types of source types.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        {% elif field.name == "other_source_role" %}
            <div class="initially-hidden hidden">
                <div class="alert">
                    <i class="fas fa-info-circle pointer-events-none"></i>
                    <div class="text-sm mt-2">
                        {% blocktrans %}
                        <a class="link link-primary font-semibold" target="_blank" href="{{ help_url }}#source-roles">Click here</a>
                        for an explanation of the different types of source roles.
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock formfields %}
{% block buttonarrayclass %}
    flex-item
{% endblock buttonarrayclass %}
