{% extends "recordtransfer/submission_form_formset.html" %}
{% load i18n %}
{% block form_explanation %}
    <div class="alert">
        <i class="fas fa-info-circle pointer-events-none"></i>
        <div class="text-sm">        {% url "recordtransfer:help" as help_url %}
        {% blocktrans %}
        Need help understanding rights types?
        <a class="link link-primary font-semibold underline" target="_blank" href="{{ help_url }}#rights-types">View our guide</a>
        for detailed explanations.
        {% endblocktrans %}
        </div>
    </div>
{% endblock form_explanation %}
