{% extends "recordtransfer/submission_form_standard.html" %}
{% load static %}
{% load i18n %}
{% block submitbuttonattributes %}
    id="submit-form-btn"
{% endblock submitbuttonattributes %}
{% block savelinkclass %}
    flex-med-width-item
{% endblock savelinkclass %}
{% block buttonarrayclass %}
    flex-med-width-item
{% endblock buttonarrayclass %}
{% block formfields %}
    {{ block.super }}
    <div class="review-summary">
        {% for form in form_list %}
            <div class="review-section">
                <div class="section-header">
                    <div class="text-xl section-title">{{ form.step_title }}</div>
                    <button id="goto_step_{{ form.step_name }}_link"
                            class="step-link"
                            formnovalidate="formnovalidate"
                            name="wizard_goto_step"
                            value="{{ form.step_name }}">
                        {% trans "Go to step" %} <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
                {% if form.fields|length > 0 %}
                    <div class="section-content">
                        {% if form.fields.items %}
                            {# Regular form fields #}
                            <dl id="field-list-{{ form.step_name }}" class="field-list">
                                {% for label, value in form.fields.items %}
                                    <dt {% if label == "Uploaded files" %}class="align-center"{% endif %}>{{ label }}</dt>
                                    <dd>
                                        {% if label == "Uploaded files" %}
                                            {% for file in value %}
                                                <div class="file-entry">
                                                    <i class="fas fa-file"></i>
                                                    <a class="non-nav-link" href="{{ file.url }}" target="_blank">{{ file.name }}</a>
                                                </div>
                                            {% endfor %}
                                        {% elif value == True %}
                                            ✓ {% trans "Yes" %}
                                        {% elif value == False %}
                                            ✗ {% trans "No" %}
                                        {% elif value == '-' or value == None or value == '' %}
                                            <span class="empty-value">{% trans "Not provided" %}</span>
                                        {% elif value|date %}
                                            {{ value|date:"F j, Y" }}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </dd>
                                {% endfor %}
                            </dl>
                        {% else %}
                            {# Formset entries #}
                            {% for entry in form.fields %}
                                <div class="formset-entry">
                                    <dl class="field-list">
                                        {% for label, value in entry.items %}
                                            <dt>{{ label }}</dt>
                                            <dd>
                                                {% if value %}
                                                    {{ value }}
                                                {% else %}
                                                    <span class="empty-value">{% trans "Not provided" %}</span>
                                                {% endif %}
                                            </dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                {% if form.note %}<div class="section-note">{{ form.note }}</div>{% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock formfields %}
