{% extends 'recordtransfer/submission_form_base.html' %}
{% load static %}
{% load i18n %}

{% block buttonarrayclass %}flex-item{% endblock %}
{% block formfields %}
    {% for form in wizard.form.forms %}
        {# Row to duplicate to add more forms #}
        <div class="form-row">
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                <div class="flex-error">
                    <label for="nothing"></label>
                    <div class="field-error">{{ error }}</div>
                </div>
                {% endfor %}
            {% endif %}
            <div class="flex-item">
                <label for="{{ field.id_for_label }}" class="{{ field.css_classes }}">{{ field.label }}</label>
                {{ field }}
                {# Help tooltip #}
                {% if field.help_text %}
                    <div class="tooltip ml-2" data-tip="{{ field.help_text }}">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    <div class="flex-item">
        <label></label>
        <div class="button-array">
            <button class="green-button less-padding add-form-row margin-right-10px">{% trans "+ More" %}</button>
            <button disabled class="red-button less-padding remove-form-row">{% trans "- Remove" %}</button>
        </div>
    </div>
    <br>
{% endblock %}
