{% extends "recordtransfer/base.html" %}

{% load i18n %}
{% load static %}

{% block javascript %}
    {{ block.super }}
    {{ js_context|json_script:"py_context_submission_group" }}
    <script src="{% static 'submissiongroup.bundle.js' %}"></script>
{% endblock javascript %}
{% block title %}
    {% if IS_NEW %}
        {% trans "Create New Submission Group" %}
    {% else %}
        {% trans "Submission Group: " %} {{ group.name }}
    {% endif %}
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="title-text">
            {% if IS_NEW %}
                {% trans "Create New Submission Group" %}
            {% else %}
                {% trans "Submission Group: " %} {{ group.name }}
            {% endif %}
        </div>
        {% include "includes/submission_group_form.html" %}
        {% if not IS_NEW %}
            <div class="flex-med-width-item margin-top-25px"
                 id="past-transfers-in-group">
                <label class="medium-text">{% trans "Past Transfers in this Group" %}</label>
            </div>
            {% if submissions %}
                {% include "includes/submission_table.html" with submissions=submissions %}
            {% else %}
                <div class="flex-med-width-item">
                    <p>{% trans "No submissions have been made under this group yet." %}</p>
                </div>
            {% endif %}
            <div class="margin-top-25px">
                <a href="{% url 'recordtransfer:submit' %}?group_uuid={{ group.uuid }} ">{% trans "Click to make a new submission" %}</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}
