{% extends 'recordtransfer/submission_form_standard.html' %}
{% load i18n %}
{% block form_explanation %}
    {% url 'recordtransfer:index' as homepage %}
    <p class="text-lg text-primary mb-2 mt-4">
        {% blocktrans %}
        Terms of Submission
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        By completing and submitting this form you hereby agree to give the National Centre for
        Truth and Reconciliation (“NCTR”) legal and physical custody and control and responsibility
        over the materials you have submitted for the purpose of allowing the NCTR Archives to
        inspect, research and appraise this material for a potential donation to the NCTR.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        The NCTR accepts full responsibility for the physical condition of the materials you have
        submitted during the period when the NCTR Archives staff will examine the materials for
        potential donation.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        If you do not wish to continue, you may <a href="{{ homepage }}">go back.</a>
        {% endblocktrans %}
        <br>
    {% endblock %}
