{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% load static %}
{% block javascript %}
    {{ block.super }}
    {{ js_context|json_script:"py_context_submission_group" }}
    <script src="{% static 'submission_group.bundle.js' %}"></script>
    <script src="{% static 'profile.bundle.js' %}"></script>
{% endblock javascript %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'submission_group.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock stylesheet %}
{% block title %}
    {% if IS_NEW %}
        {% trans "Create New Submission Group" %}
    {% else %}
        {% trans "Submission Group: " %} {{ group.name }}
    {% endif %}
{% endblock title %}
{% block theme %}
    nctr
{% endblock theme %}
{% block content %}
    <a href="{% url 'recordtransfer:user_profile' %}" class="back-to-btn">
        <i class="fas fa-arrow-left"></i> {% trans "Back to Profile" %}
    </a>
    <div class="title-text">
        {% if IS_NEW %}
            {% trans "Create New Submission Group" %}
        {% else %}
            {% trans "Submission Group: " %} {{ group.name }}
        {% endif %}
    </div>
    {% include "includes/submission_group_form.html" %}
    <div class="bg-base-100 border-base-300 p-6">
        <div hx-get="{% url 'recordtransfer:submission_table' %}?{{ SUBMISSION_GROUP_QUERY_NAME }}={{ group.uuid }}"
             hx-trigger="load"
             id="{{ ID_SUBMISSION_TABLE }}">
            <div class="flex flex-col w-full items-center gap-4">
                <div class="skeleton h-32 w-full"></div>
                <div class="skeleton h-5 w-1/10"></div>
            </div>
        </div>
        <div class="flex justify-end">
            <a href="{% url 'recordtransfer:submit' %}?{{ SUBMISSION_GROUP_QUERY_NAME }}={{ group.uuid }}"
               class="btn btn-sm">
                <span class="hidden md:inline">{% trans "New submission" %}</span>
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{% endblock content %}
