{% extends 'recordtransfer/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Reset your Password" %}
{% endblock %}

{% block content %}
    <div class="account-form-container">
        <div class="account-page-title title-text">
            {% trans "Reset your password" %}
        </div>

        <p class="account-info">
            {% blocktrans %}
                Enter the email associated with your account and we'll send you
                a link to reset your password.
            {% endblocktrans %}
        </p>

        {% if form.email.errors %}
            <div class="account-error">
                <p>{{ form.email.errors }}</p>
            </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="flex-error">
                        <label></label>
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="flex-item">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="flex-item">
                <label></label>
                <button type="submit" class="blue-button">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock %}
