{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    {# textarea overflow fix #}
    <style>
        .field-statement > textarea {
            width: 98%;
        }

        .field-note > textarea {
            width: 98%;
        }
    </style>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <a href="{{ original.get_admin_report_url }}">{% trans "Click here to view submission report" %}</a> |
        <a href="{{ original.get_admin_zip_url }}">{% trans "Click here to create a downloadable bag" %}</a>
    </div>
{% endblock %}
