# This is a sample .prod.env file, make a copy of it to .prod.env

ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://localhost:1337

CLAMAV_ENABLED=True
CLAMAV_HOST=clamav

SIGN_UP_ENABLED=True
ARCHIVIST_EMAIL=archivist@localhost

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root-pw
MYSQL_DATABASE=records-transfer-db
MYSQL_USER=records-user
MYSQL_PASSWORD=records-password

EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=False
EMAIL_USE_TLS=False

MAX_SINGLE_UPLOAD_SIZE=64