@page {
    size: A4;
    margin: 0.5in 0.5in 0.5in 0.5in;
}

body {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    color: #111;
}

.main-title {
    font-size: 20pt;
    font-weight: bold;
    background-color: #eee;
    padding: 15px 8px;
    box-shadow: 0 4px 3px -3px #bbbbbb;
}

.title {
    font-size: 16pt;
    font-weight: bold;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.main-container {
    padding: 20px;
}

table {
    min-width: 100%;
    margin-top: 25px;
    border: solid 1px #222;
}

td {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

th {
    background-color: #eee;
    text-align: left;
}

.section-heading {
    margin-top: 30px;
    border-bottom: 1px solid #111;
}

section {
    padding-left: 10px;
    padding-right: 10px;
}

.name-field {
    font-weight: bold;
    margin-top: 20px;
    font-size: 14pt;
}

.repeatable-field-counter {
    margin-bottom: 10px;
}

.value-field {
    background-color: #eee;
    margin: 10px 8px 20px 8px; /* Top right bottom left */
    padding: 5px 10px; /* Top+bottom left+right */
}

.no-ul-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}
