#branding img {
    float: left;
    margin-right: 10px;
}

#branding h1 {
    float: left;
}

#user-tools a, #logout-form button {
    border-bottom: 1px solid #c2c2c2;
}

.theme-toggle {
    display: none;
}

/* job log messages */
.field-message_log .readonly {
    background-color: #000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 6px !important;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow-x: auto;
    max-height: 400px;
    overflow-y: auto;
}
