{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}  Your {{ changed_item }} for the NCTR Record Transfer Portal has been {{ changed_status }}.{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div class="main-content">
        {% if changed_list %}
            <p>{% trans "The following changes have been made to your account:" %}</p>
            <ul>
                {% for change in changed_list %}<li>{{ change }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="main-content">
        {% url 'login' as login %}
        <a href="https://{{ site_domain }}{{ login }}" class="email-btn">
            {% blocktrans %}Log In to Your Account{% endblocktrans %}
        </a>
        <!-- Fallback text link for plain-text clients -->
        <p class="fallback-link">
            {% trans "If the button doesn’t work, copy and paste this link into your browser:" %}
            <br>
            <a href="https://{{ site_domain }}{{ login }}" class="fallback-link-url">https://{{ site_domain }}{{ login }}</a>
        </p>
    </div>
{% endblock content %}
