{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}  Your {{ changed_item }} for the NCTR Record Transfer Portal has been {{ changed_status }}.{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div>
        {% if changed_list %}
            <p>{% trans "The following changes have been made to your account:" %}</p>
            <ul>
                {% for change in changed_list %}<li>{{ change }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>
    <div style="text-align: left; margin-top: 20px;">
        <a href="http://{{ base_url }}/login/"
           style="display: inline-block;
                  background-color: #EE7623;
                  color: white;
                  padding: 10px 20px;
                  font-weight: bold;
                  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {% blocktrans %}Log In to Your Account{% endblocktrans %}
        </a>
    </div>
{% endblock content %}
