{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Activate Your New Account{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div>
        {% blocktrans %}
                An account was created for the NCTR Record Transfer Portal using this email.
                To activate your account, click the button below.
            {% endblocktrans %}
    </div>
    <div style="text-align: left; margin-top: 20px;">
        {% url 'recordtransfer:activate_account' uidb64=uid token=token as activate_account %}
        <a href="http://{{ base_url }}{{ activate_account }}"
           style="display: inline-block;
                  background-color: #EE7623;
                  color: white;
                  padding: 10px 20px;
                  font-weight: bold;
                  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {% blocktrans %}Activate Account{% endblocktrans %}
        </a>
        <!-- Fallback text link for plain-text clients -->
        <p style="font-size: 10px; color:#A0A0A0; margin-top: 10px;">
            {% trans "If the button doesn’t work, copy and paste this link into your browser:" %}
            <br>
            <a href="http://{{ base_url }}{{ activate_account }}"
               style="color:#606060">http://{{ base_url }}{{ activate_account }}</a>
        </p>
    </div>
{% endblock content %}
