{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Activate Your New Account{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div>
        {% blocktrans %}
                An account was created for the NCTR Record Transfer Portal using this email.
                To activate your account, click the button below.
            {% endblocktrans %}
    </div>
    <div style="text-align: left; margin-top: 20px;">
        <a href="http://{{ base_url }}{{ activate_account }}"
           style="display: inline-block;
                  background-color: #EE7623;
                  color: white;
                  padding: 10px 20px;
                  font-weight: bold;
                  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {% blocktrans %}Activate Account{% endblocktrans %}
        </a>
    </div>
{% endblock content %}
