{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Your In-Progress Submission is Expiring Soon{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div>
        <p>{% blocktrans %}Dear {{ full_name }} ({{ username }}),{% endblocktrans %}</p>
        <p>
            {% blocktrans %}You have an in-progress submission titled "{{ in_progress_title }}" that is set to expire on {{ in_progress_expiration_date }}.{% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}Please make sure to complete your submission before the expiration date. You can resume your submission by clicking the button below:{% endblocktrans %}
        </p>
    </div>
    <div style="text-align: left; margin-top: 20px;">
        <a href="http://{{ base_url }}{{ in_progress_url }}"
           style="display: inline-block;
                  background-color: #EE7623;
                  color: white;
                  padding: 10px 20px;
                  font-weight: bold;
                  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {% blocktrans %}Resume Your Submission{% endblocktrans %}
        </a>
        <p style="margin-top: 15px;
                  font-size: 7pt;
                  color: #666666;
                  font-family: 'Merriweather', Georgia, 'Times New Roman', serif;
                  line-height: 1.4">
            {% blocktrans %}If you have any questions or need assistance, please contact our support team.{% endblocktrans %}
        </p>
        <p style="font-size: 10px; color:#A0A0A0; margin-top: 10px;">
            If the button doesn’t work, copy and paste this link into your browser:
            <br>
            <a href="http://{{ base_url }}{{ in_progress_url }}"
               style="color:#606060">http://{{ base_url }}{{ in_progress_url }}</a>
        </p>
    </div>
{% endblock content %}
