{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Thank You for Your Submission{% endblocktrans %}
{% endblock title %}
{% block content %}
    <p class="main-content">
        {% blocktrans %}
            Thank you for your record submission using the NCTR Record Transfer Portal. The
            files you sent are being stored securely on our servers until an archivist has the
            opportunity to view them.
            {% endblocktrans %}
    </p>
    <p class="main-content">
        {% blocktrans %}
            You can view your past submissions by clicking on the button below:
        {% endblocktrans %}
    </p>
    <div class="main-content">
        {% url 'recordtransfer:user_profile' as user_profile_url %}
        <a href="https://{{ site_domain }}{{ user_profile_url }}#id_past_submissions_tab"
           class="email-btn">{% blocktrans %}View Your Past Submissions{% endblocktrans %}</a>
    </div>
    <p class="fallback-link">
        {% trans "If the button doesn’t work, copy and paste this link into your browser:" %}
        <br>
        <a href="https://{{ site_domain }}{{ user_profile_url }}#id_past_submissions_tab"
           class="fallback-link-url">https://{{ site_domain }}{{ user_profile_url }}#id_past_submissions_tab</a>
    </p>
    <div class="email-note">
        <h3 style="font-size: 9pt;
                   color:#706c6c;
                   font-weight: bold;
                   margin-bottom: 10px">{% blocktrans %} Submission Agreement {% endblocktrans %}</h3>
        <p class="main-content">
            {% blocktrans %}
                Thank you for submitting records with the NCTR Record Transfer App. By completing
                and submitting the form you hereby agree to give the National Centre for Truth and
                Reconciliation (“NCTR”) legal and physical custody and control and responsibility
                over the materials you have submitted for the purpose of allowing the NCTR Archives
                to inspect, research and appraise this material for a potential donation to the
                NCTR.
            {% endblocktrans %}
        </p>
        <p class="main-content">
            {% blocktrans %}
                The NCTR accepts full responsibility for the physical condition of the materials you
                have submitted during the period when the NCTR Archives staff will examine the
                materials for potential donation.
            {% endblocktrans %}
        </p>
    </div>
{% endblock content %}
