{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Submission Made by {{ username }} Failed{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div class="main-content">
        {% blocktrans %}
            {{ first_name }} {{ last_name }} ({{ username }}) attempted to
            make a submission at {{ action_date }} using the NCTR Record Transfer
            Portal, but an error occurred.
        {% endblocktrans %}
    </div>
{% endblock content %}
