{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Your Submission Could not be Completed{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div class="main-content">
        {% blocktrans %}
            The records you attempted to submit through the NCTR Record Transfer Portal
            did not go through correctly. You may try to submit again, or contact
            an NCTR archivist about your submission at this email address:
        {% endblocktrans %}
    </div>
    <div class="main-content">
        <a href="mailto:{{ archivist_email }}" class="email-btn">{% blocktrans %}Contact NCTR Archivist{% endblocktrans %}</a>
    </div>
    <p class="fallback-link">
        {% trans "If the button doesn’t work, copy and paste this link into your browser:" %}
        <br>
        <a href="mailto:{{ archivist_email }}" class="fallback-link-url">mailto:{{ archivist_email }}</a>
    </p>
{% endblock content %}
