{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}New Submission Made by {{ username }}{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div class="main-content">
        {% blocktrans %}
            {{ first_name }} {{ last_name }} ({{ username }}) made a new
            submission at {{ action_date }} with the NCTR Record Transfer Portal. To
            view their new submission, click the button below.
        {% endblocktrans %}
    </div>
    <div class="main-content">
        <a href="{{ submission_url }}" class="email-btn">{% blocktrans %}View New Submission{% endblocktrans %}</a>
    </div>
    <p class="fallback-link">
        {% trans "If the button doesn’t work, copy and paste this link into your browser:" %}
        <br>
        <a href="{{ submission_url }}" class="fallback-link-url">{{ submission_url }}</a>
    </p>
{% endblock content %}
