{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}New Submission Made by {{ username }}{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div>
        {% blocktrans %}
            {{ first_name }} {{ last_name }} ({{ username }}) made a new
            submission at {{ action_date }} with the NCTR Record Transfer Portal. To
            view their new submission, click the button below.
        {% endblocktrans %}
    </div>
    <div style="text-align: left; margin-top: 20px;">
        <a href="{{ submission_url }}"
           style="display: inline-block;
                  background-color: #EE7623;
                  color: white;
                  padding: 10px 20px;
                  font-weight: bold;
                  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {% blocktrans %}View New Submission{% endblocktrans %}
        </a>
    </div>
{% endblock content %}
