{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Your Submission Could not be Completed{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div>
        {% blocktrans %}
            The records you attempted to submit through the NCTR Record Transfer Portal
            did not go through correctly. You may try to submit again, or contact
            an NCTR archivist about your submission at this email address:
            {% endblocktrans %}
    </div>
    <div style="text-align: left; margin-top: 20px;">
        <a href="mailto:{{ archivist_email }}"
           style="display: inline-block;
                  background-color: #EE7623;
                  color: white;
                  padding: 10px 20px;
                  font-weight: bold;
                  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {% blocktrans %}Contact NCTR Archivist{% endblocktrans %}
        </a>
    </div>
{% endblock content %}
