{% extends 'recordtransfer/base.html' %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
    <div class="title-text">{% trans "Account Activated" %}</div>
    <p>
    {% blocktrans %}
        Your account has been activated, and you should now be logged in. You may now transfer
        records to the NCTR!
    {% endblocktrans %}
    </p>
    <a href="{% url 'recordtransfer:formpreparation' %}">{% trans "Start a Transfer" %}</a>
    <br>
    <a href="{% url 'recordtransfer:index' %}">{% trans "Home" %}</a>
{% endblock %}
