{% load static %}
{% load i18n %}

<html>
<head>
    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"></script>
    <script src="{% static 'recordtransfer/js/forms.js'%}"></script>
    <script src="{% static 'recordtransfer/js/navbar.js'%}"></script>
    <script src="{% static 'recordtransfer/js/widgetconfig.js'%}"></script>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/banner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/accounts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/transferform.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/dropzone.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'recordtransfer/img/favicon.ico' %}"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="flex-wrapper">
        {% block banner %}
            {% include "recordtransfer/banner.html" %}
        {% endblock %}
        {% block header %}
            {% include "recordtransfer/header.html" %}
        {% endblock %}
        <div class="main-container">
            <div class="focused-content">
                {% block focused_content %}{% endblock %}
            </div>
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block footer %}
            {% include "recordtransfer/footer.html" %}
        {% endblock %}
    </div>
</body>
</html>
