{% load static %}
{% load i18n %}

<html>
<head>
    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"></script>
    <script src="{% static 'recordtransfer/js/inputmasks.js'%}"></script>
    <script src="{% static 'recordtransfer/js/dropzoneconfig.js'%}"></script>
    <script src="{% static 'recordtransfer/js/tooltipconfig.js'%}"></script>
    <script src="{% static 'recordtransfer/js/datepickerconfig.js'%}"></script>
    <script src="{% static 'recordtransfer/js/addremoveformrows.js'%}"></script>
    <script src="{% static 'recordtransfer/js/navbar.js'%}"></script>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/accounts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/transferform.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/dropzone.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'recordtransfer/img/favicon.ico' %}"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="flex-wrapper">
        <div>
            <header class="header">
                <nav class="main-header-content">
                    <ul class="main-navbar">
                        <li class="nav-logo">
                            <a class="nav-link" href="{% url 'recordtransfer:index' %}" title="Go to home page">
                                <img id="app-logo" src="{% static 'recordtransfer/img/nctrlogo_flame_150x150px.png'%}">
                                <span id="app-title" class="title-text">NCTR Record Transfer<span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recordtransfer:index' %}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'recordtransfer:about' %}">
                                About
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'recordtransfer:userprofile' %}">
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link main" href="{% url 'recordtransfer:formpreparation' %}">
                                    Transfer
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link main" href="{% url 'logout' %}">
                                    Logout
                                </a>
                            </li>
                        {% elif not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'recordtransfer:createaccount' %}">
                                    Sign Up
                                </a>
                            </li>
                            {% if 'login' not in request.path %}
                                <li class="nav-item">
                                    <a class="nav-link main" href="{% url 'login' %}">
                                        Log In
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        <span class="toggle-container">
                            <li class="nav-toggle-open">
                                <a class="nav-link" href="#">
                                    <img height="20" src="{% static 'recordtransfer/img/menu_64x64px.png'%}">
                                </a>
                            </li>
                            <li class="nav-toggle-close">
                                <a class="nav-link" href="#">
                                    <img height="20" src="{% static 'recordtransfer/img/close_menu_64x64px.png'%}">
                                </a>
                            </li>
                        </span>
                    </ul>
                </nav>
            </header>
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            Built with Django&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://nctr.ca/map.php">National Centre for Truth and Reconciliation</a>
        </div>
    </div>
</body>
</html>
