{% extends 'recordtransfer/basetransferform.html' %}
{% load static %}
{% load i18n %}

{% block buttonarrayclass %}flex-full-width-item{% endblock %}
{% block submitbuttonattributes %}id="submit-form-btn"{% endblock %}
{% block formfields %}
    {% for field in form %}
        {{ field }}
    {% endfor %}
    <div class="flex-full-width-item margin-top-25px">
        <span class="upload-file-label">{% trans "Upload Files" %}</span>
    </div>
    <div id="dropzone-errors" class="flex-full-width-error">
    </div>
    <div class="flex-full-width-item">
        <div id="file-dropzone" class="dz-clickable custom-dropzone dropzone">
            <div class="dz-message">
                <table class="dz-message-table">
                    <tr>
                        <td>
                            <img src="{% static 'recordtransfer/img/file_upload_32x32px.png' %}">
                        </td>
                        <td>
                            {% trans "Drop files here or click to upload" %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
