{% extends 'recordtransfer/base.html' %}
{% load i18n %}

{% block title %}{% trans "Prepare for Transfer" %}{% endblock %}

{% block content %}
<div class="title-text">{% trans "Prepare for Transfer" %}</div>
<p>{% trans "Before transferring files to the NCTR, make sure you have the following:" %}<p>
<ul>
    <li>{% trans "Information on the source of the files" %}</li>
    <li>{% trans "Contact information in case you must be contacted by our archivists in regards to your transfer" %}</li>
    <li>{% trans "Information on the content and the dates of the files" %}</li>
    <li>{% trans "Any information on the rights governing the files" %}</li>
    <li>{% trans "Any other IDs that may be associated with the files" %}</li>
    <li>{% trans "The files themselves" %}</li>
</ul>
<br>
<button class="blue-button" type="submit" onclick="location.href='{% url 'recordtransfer:transfer' %}'">
    {% trans "I'm Ready to Start" %}
</button>
{% endblock %}
