{% load static %}
{% load i18n %}

<header class="header {% if request.path == "/" %}homepage{% endif %}">
    <nav class="main-header-content">
        <ul class="main-navbar">
            <li class="nav-logo">
                <img id="app-logo" src="{% static 'logo-white-cropped.webp'%}">
            </li>
            <li class="nav-title">
                <a class="nav-link title" href="{% url 'recordtransfer:index' %}" title="Go to home page">
                    <span id="app-title" class="title-text-light">{% trans "NCTR Record Transfer" %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recordtransfer:index' %}">
                    {% trans "Home" %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recordtransfer:about' %}">
                    {% trans "About" %}
                </a>
            </li>
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">
                        {% trans "Admin" %}
                    </a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recordtransfer:userprofile' %}">
                        {% trans "Profile" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main" href="{% url 'recordtransfer:transfer' %}">
                        {% trans "Transfer" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link main" href="{% url 'logout' %}">
                        {% trans "Logout" %}
                    </a>
                </li>
            {% elif not user.is_authenticated %}
                {% if SIGN_UP_ENABLED %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'recordtransfer:createaccount' %}">
                            {% trans "Sign Up" %}
                        </a>
                    </li>
                {% endif %}
                {% if 'login' not in request.path %}
                    <li class="nav-item">
                        <a class="nav-button" href="{% url 'login' %}">
                            {% trans "Log In" %}
                        </a>
                    </li>
                {% endif %}
            {% endif %}
            <span class="toggle-container">
                <li class="nav-toggle-open">
                    <a class="nav-link" href="#">
                        <img height="20" src="{% static 'menu_64x64px.webp'%}">
                    </a>
                </li>
                <li class="nav-toggle-close">
                    <a class="nav-link" href="#">
                        <img height="20" src="{% static 'close_menu_64x64px.webp'%}">
                    </a>
                </li>
            </span>
        </ul>
    </nav>
</header>
