{% load static %}
{% load i18n %}

<header class="header {% if request.path == "/" %}homepage{% endif %}">
    <div class="menu-overlay"></div>
    <nav class="main-header-content">
        <div class="main-navbar">
            <div class="nav-logo">
                <img id="app-logo" src="{% static 'logo-white-cropped.webp'%}">
            </div>
            <div class="nav-title">
                <a class="nav-link title" href="{% url 'recordtransfer:index' %}" title="Go to home page">
                    <span id="app-title" class="title-text-light">{% trans "NCTR Record Transfer" %}</span>
                </a>
            </div>
            <div class="nav-items-container">
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'recordtransfer:index' %}">
                        {% trans "Home" %}
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="{% url 'recordtransfer:about' %}">
                        {% trans "About" %}
                    </a>
                </div>
                {% if user.is_staff %}
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            {% trans "Admin" %}
                        </a>
                    </div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'recordtransfer:userprofile' %}">
                            {% trans "Profile" %}
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link main" href="{% url 'recordtransfer:transfer' %}">
                            {% trans "Transfer" %}
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link main" href="{% url 'logout' %}">
                            {% trans "Logout" %}
                        </a>
                    </div>
                {% elif not user.is_authenticated %}
                    {% if SIGN_UP_ENABLED %}
                        <div class="nav-item">
                            <a class="nav-link" href="{% url 'recordtransfer:createaccount' %}">
                                {% trans "Sign Up" %}
                            </a>
                        </div>
                    {% endif %}
                    {% if 'login' not in request.path %}
                        <div class="nav-item">
                            <a class="nav-link nav-button" href="{% url 'login' %}">
                                {% trans "Log In" %}
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="nav-item nav-toggle-close">
                    <a class="nav-link" href="#">
                        <b>
                            {% trans "Close" %}
                            &nbsp;
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </b>
                    </a>
                </div>
            </div>
            <div class="nav-toggle-open">
                <a class="nav-link nav-toggle-icon" href="#">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </nav>
</header>
