{% extends 'recordtransfer/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "NCTR Record Transfer Portal" %}{% endblock %}

{% block focused_content %}
<div id="main-graphic-container">
    {% block header %}
        {{ block.super }}
        {% include "recordtransfer/header.html" %}
    {% endblock header %}
    <img id="main-graphic" src="{% static 'hero4-scaled.webp' %}">
    <div class="main-graphic-text-container">
        
        <div class="main-graphic-text">
            {% trans "Securely Send Your Records to the NCTR" %}
        </div>
        <div class="hero-button-container">
            <div class="hero-button">
                <a href="{% url 'recordtransfer:transfer' %}">
                    {% trans "Start a New Transfer" %}
                </a>
            </div>
            {% if not user.is_authenticated and SIGN_UP_ENABLED %}
            <div class="hero-button">
                <a href="{% url 'recordtransfer:createaccount' %}">
                    {% trans "Sign up Now" %}
                </a>
            </div>
            <div class="hero-button">
                <a href="#">
                    Sign in
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1 class="homepage-header">Now Accepting Donations</h1>
<p>
    {% blocktrans %}
    This transfer portal is the preferred method of submitting small-scale digital donations to the
    NCTR. Contact us if you intend to make a large donation of records or if you would like to send
    physical records.
    {% endblocktrans %}
</p>
<div class="homepage-button">
    <a href="https://nctr.ca/contact/">
        {% trans "Contact Us" %}
    </a>
</div>


<h1 class="homepage-header">Standards-Based</h1>
<p>
    {% blocktrans %}
    Data is captured in a standardized format. We follow CAAIS (Canadian Archival Accession
    Information Standard) for gathering data.
    {% endblocktrans %}
</p>

<h1 class="homepage-header">Open Source</h1>
<p>
    {% blocktrans %}
    This project has been made open source by the NCTR. If your organization would like to learn
    how to leverage this project, connect with us on <a href="https://github.com/NationalCentreTruthReconciliation/Secure-Record-Transfer">
    GitHub</a>.
    {% endblocktrans %}
</p>

{% endblock %}
