{% extends 'recordtransfer/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "NCTR Record Transfer Portal" %}{% endblock %}

{% block focused_content %}
<div id="main-graphic-container">
    <img id="main-graphic">
</div>
{% endblock %}

{% block content %}
{% url 'recordtransfer:about' as about_page %}
<p>
    {% blocktrans %}
        Welcome to the National Centre for Truth and Reconciliation's digital record transfer app.
        View our <a href="{{ about_page }}">About page</a> for information about this website.
    {% endblocktrans %}
</p>
{% if user.is_authenticated %}
    {% url 'recordtransfer:transfer' as pre_transfer_page %}
    <p>
        {% blocktrans %}
            Welcome back! To start a new transfer, <a href="{{ pre_transfer_page }}">click here</a>.
        {% endblocktrans %}
    </p>
{% else %}
    {% url 'login' as login %}
    {% url 'recordtransfer:createaccount' as create_account_page %}
    <p>
        {% blocktrans %}
            Please <a href="{{ login }}">log in</a> to start transferring records to the NCTR.
            If you or someone you know would like to send digital files to the NCTR,
            <a href="{{ create_account_page }}">Sign up</a> for an account to start transferring
            records.
        {% endblocktrans %}
    </p>
{% endif %}
{% endblock %}
