{% extends 'recordtransfer/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Create Account" %}{% endblock %}

{% block content %}
    <div class="account-form-container">
        <div class="account-page-title title-text">
            {% trans "Create a New Account" %}
        </div>

        {% if form.non_field_errors %}
            <div class="account-error">
                {% trans "The form was not valid." %}
            </div>
        {% endif %}

        <form method="post" action="{% url 'recordtransfer:createaccount' %}">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="flex-error">
                            <label></label>
                            <div class="field-error">{{ error }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="flex-item">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <div tooltip-content="{{ field.help_text }}" class="help-tooltip help-icon">
                            <img height="20" src="{% static 'recordtransfer/img/help_40x40px.webp' %}">
                        </div>
                    {% else %}
                        {# dummy element #}
                        <span class="help-icon" style="width: 20px"></span>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="flex-item">
                <label></label>
                <button type="submit" class="blue-button">{% trans "Sign Up" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
