{% extends 'recordtransfer/transferform_standard.html' %}
{% load i18n %}

{% block form_explanation %}
    {% url 'recordtransfer:index' as homepage %}
    {% blocktrans %}
    <p>
        <strong>This legal statement is a work in progress</strong>
    </p>
    <p>
        By completing and submitting this form you agree to give the National Centre for Truth and
        Reconciliation Archives legal, physical, and intellectual control and responsibility over
        the materials you submit for the purpose of allowing the NCTR Archives to inspect, research
        and appraise the material for a potential donation to the NCTR.
    </p>
    <p>
        The NCTR accepts full responsibility for the physical condition of the materials during the
        period when the NCTR Archives staff will examine the materials for potential donation.
    </p>
    <p>
        Before continuing, you must accept these terms. If you do not wish to continue, you may
        <a href="{{ homepage }}">go back.</a>
    </p>
    {% endblocktrans %}
    <br>
{% endblock %}
