{% extends 'recordtransfer/transferform_base.html' %}
{% load static %}
{% load i18n %}
{% block buttonarrayclass %}flex-item{% endblock %}
{% block formfields %}
    <script>
        const ID_DISPLAY_GROUP_DESCRIPTION = "{{ ID_DISPLAY_GROUP_DESCRIPTION }}";
        const ID_SUBMISSION_GROUP_SELECTION = "{{ ID_SUBMISSION_GROUP_SELECTION }}";
        const fetchUsersGroupsUrl = "{% url 'recordtransfer:get_users_groups' user_id=request.user.id %}";
    </script>
    {% for field in wizard.form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="flex-error">
                    <label for="nothing"></label>
                    <div class="field-error">{{ error }}</div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="flex-item">
            <label for="{{ field.id_for_label }}" class="{{ field.css_classes }}">{{ field.label }}</label>
            {{ field }}
            {# Help tooltip #}
            {% if field.help_text %}
                <div tooltip-content="{{ field.help_text }}"
                     class="help-tooltip help-icon">
                    <img height="20" src="{% static 'recordtransfer/img/help_40x40px.png' %}">
                </div>
            {% endif %}
            {% if field.name == "group_id" %}
                <button id="show-add-new-group-dialog" class="green-button" type="button">Add new group</button>
            {% endif %}
        </div>
    {% endfor %}
    <div class="flex-item">
        <label for="group_description">Group Description</label>
        <p id="{{ ID_DISPLAY_GROUP_DESCRIPTION }}">Describe the group and its purpose.</p>
    </div>
{% endblock formfields %}
{% block dialog %}
    <div id="add-new-group-dialog" title="Create New Submission Group">
        {% include "includes/submission_group_form.html" with form=new_group_form %}
    </div>
{% endblock dialog %}
