{% extends 'recordtransfer/transferform_standard.html' %}
{% load static %}
{% load i18n %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript'>
        const MAX_TOTAL_UPLOAD_SIZE = parseFloat(({{ MAX_TOTAL_UPLOAD_SIZE }}).toFixed(2))
        const MAX_SINGLE_UPLOAD_SIZE = parseFloat(({{ MAX_SINGLE_UPLOAD_SIZE }}).toFixed(2))
        const MAX_TOTAL_UPLOAD_COUNT = parseFloat(({{ MAX_TOTAL_UPLOAD_COUNT }}).toFixed(2))
    </script>
{% endblock %}

{% block buttonarrayclass %}flex-med-width-item{% endblock buttonarrayclass %}
{% block savelinkclass %}flex-med-width-item{% endblock savelinkclass %}
{% block submitbuttonattributes %}id="submit-form-btn"{% endblock %}
{% block submitbuttontype %}button{% endblock %}
{% block formfields %}
    {{ block.super }}
    <p class="flex-med-width-item margin-top-25px">
        <i>Upload your files</i>
    </p>
    <p class="flex-med-width-item">
        {% blocktrans %}
        You may upload a <b>maximum of {{ MAX_TOTAL_UPLOAD_COUNT }} files</b>, and <b>at most
        {{ MAX_TOTAL_UPLOAD_SIZE }}MiB of files</b>. Any <b>one file may not exceed
        {{ MAX_SINGLE_UPLOAD_SIZE }} MiB</b>. Note that large transfers may take a few
        minutes, so please do not reload the web page when your files are being uploaded.
        {% endblocktrans %}
    </p>
    <div id="dropzone-errors" class="flex-full-width-error"></div>
    {% comment %} <div class="flex-med-width-item">
        <div id="file-dropzone" class="dz-clickable custom-dropzone dropzone">
            <div class="dz-message">
                <table class="dz-message-table">
                    <tr>
                        <td>
                            <img src="{% static 'file_upload_32x32px.webp' %}">
                        </td>
                        <td>
                            {% trans "Drop files here or click to upload" %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div> {% endcomment %}
    <div id="drag-drop"></div> 
    <div class="flex-med-width-item">
        <div>
            {% trans "Total size of transfer:" %}
            <span id="total-size">0</span> {% trans "MiB" %}
        </div>
        <div>
            {% trans "Remaining size allowed:" %}
            <span id="remaining-size">{{ MAX_TOTAL_UPLOAD_SIZE }}</span> {% trans "MiB" %}
        </div>
    </div>
{% endblock %}
