{% extends 'recordtransfer/transferform_standard.html' %}
{% load static %}
{% load i18n %}

{% block submitbuttonattributes %}id="submit-form-btn"{% endblock %}
{% block submitbuttontype %}button{% endblock %}

{% block formfields %}

    {% for form in form_list %}
        <h2>{{ form.step_title }}</h2>
        <ul>
            {% comment %} Handling regular form fields {% endcomment %}
            {% if form.fields|length > 0 and form.fields.items %}
                {% for label, value in form.fields.items %}
                    <li><strong>{{ label }}:</strong> {{ value }}</li>
                {% endfor %}
            {% comment %} Handling formsets {% endcomment %}
            {% else %}
                {% for entry in form.fields %}
                    <ul>
                        {% for label, value in entry.items %}
                            <li><strong>{{ label }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endif %}
        </ul>
    {% endfor %}
    <p>{{ form_list }}</p>

{% endblock formfields %}
