{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Delete Transfer?" %}
{% endblock title %}
{% block content %}
    <div class="title-text">{% trans "Confirm In Progress Transfer Deletion" %}</div>
    <div class="flex-med-width-item margin-top-25px">
        {% trans "Do you wish to delete the transfer from" %} {{ last_updated|date:"F j, Y g:ia" }}?
    </div>
    <form id="delete-transfer-form"
          action="{% url 'recordtransfer:transferdelete' uuid=uuid %}"
          method="post">
        {% csrf_token %}
        <p>
            <button type="button"
                    onclick="window.location.href='{% url 'recordtransfer:userprofile' %}'"
                    class="red-button">{% trans "Cancel" %}</button>
            <button type="submit" class="blue-button">{% trans "OK" %}</button>
        </p>
    </form>
{% endblock content %}
