{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans with currentstep=wizard.steps.step1 totalsteps=wizard.steps.count %}
        Transfer Step {{ currentstep }} (of {{ totalsteps }})
    {% endblocktrans %}
{% endblock title %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'transferform.bundle.js' %}"></script>
    <script>
        const currentFormStep = {{ wizard.steps.step1 }}
        const previousFormStep = "{{ wizard.steps.prev|escapejs }}"
        const SAVE_FORM_ACTION = "{{ SAVE_FORM_ACTION }}"
        const GO_TO_STEP_ACTION = "{{ GO_TO_STEP_ACTION }}"
    </script>
{% endblock javascript %}
{% block content %}
    {% include "includes/messages.html" %}
    <div class="form-title title-text">
        {% blocktrans with currentstep=wizard.steps.step1 totalsteps=wizard.steps.count%}
            {{ form_title }} - Step {{ currentstep }} of {{ totalsteps }}
        {% endblocktrans %}
    </div>
    {% if info_message %}
        <p>
            <b>{{ info_message }}</b>
        </p>
    {% endif %}
    {% block messages %}
    {% endblock messages %}
    {% block form_explanation %}
    {% endblock form_explanation %}
    {% block dialog %}
    {% endblock dialog %}
    <form id="transfer-form" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.management_form }}
        {% block formfields %}{# !!! Add the form fields here !!! #}{% endblock %}
        <div class="{% block buttonarrayclass %}{% endblock buttonarrayclass %}">
            <label></label>
            <div class="button-array">
                {% if wizard.steps.prev %}
                    {# Without formnovalidate, you can't go to the previous step without valid data #}
                    {# Which kind of defeats the purpose of going back to the previous step! #}
                    <button id="form-previous-button"
                            formnovalidate="formnovalidate"
                            name="wizard_goto_step"
                            value="{{ wizard.steps.prev }}"
                            class="blue-button margin-right-20px">{% trans "Previous Step" %}</button>
                {% endif %}
                <button {% block submitbuttonattributes %}
                        {% comment %} Button is "next" by default, but the id for a "submit" button can be
                        overrided using this block {% endcomment %}
                        id="form-next-button"
                        {% endblock submitbuttonattributes %}
                        type="{% block submitbuttontype %}submit{% endblock submitbuttontype %}"
                        class="blue-button">
                    {% if wizard.steps.step1 == wizard.steps.count %}
                        {% trans "Submit" %}
                    {% else %}
                        {% trans "Next Step" %}
                    {% endif %}
                </button>
            </div>
        </div>
        <div class="{% block savelinkclass %}flex-item{% endblock savelinkclass %}">
            <label></label>
            {% if wizard.steps.step1 > 1 and wizard.steps.step1 <= wizard.steps.count %}
                <button id="form-save-button"
                        class="text-link margin-top-25px"
                        formnovalidate="formnovalidate"
                        name="save_form_step"
                        value="{{ wizard.steps.current }}">{% trans "Click to save form and resume later" %}</button>
            {% endif %}
        </div>
    </form>
    {% include "includes/unsaved_transferform_modal.html" %}
{% endblock content %}
