textarea,
input,
button,
select,
html {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
    height: 100%;
}

.flex-wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.focused-content {
    padding: 0;
}

.main-container {
    flex: 1 0 auto;
}

.main-content {
    padding: 18px 12px 18px 12px;
}

.main-header-content {
    padding: 10px 0px;
}

.title-text {
    color: #333333;
    font-size: 20pt;
}

.medium-text {
    color: #333333;
    font-size: 16pt;
}

#main-graphic-container {
    width: 100%;
}

#main-graphic {
    width: 100%;
}

.red-button,
.green-button,
.blue-button {
    margin: auto;
    font-size: 11pt;
    border: none;
    border-radius: 5px;
    padding: 6px 12px 6px 12px;
    margin: 0;
    text-decoration: none;
    transition: background 150ms ease;
    -webkit-appearance: none;
}

.less-padding {
    padding: 4px 6px 4px 6px !important;
}

.red-button {
    background: #ce2929;
    color: #fefefe;
}

.green-button {
    background: #0ba124;
    color: #fefefe;
}

.blue-button {
    background: #2d30d4;
    color: #fefefe;
}

.red-button:hover,
.red-button:focus {
    cursor: pointer;
    background: #ff7070;
    color: #ffffff;
}

.green-button:hover,
.green-button:focus {
    cursor: pointer;
    background: #3fb953;
    color: #ffffff;
}

.blue-button:hover,
.blue-button:focus {
    cursor: pointer;
    background: #316dee;
    color: #ffffff;
}

.red-button:disabled,
.green-button:disabled,
.blue-button:disabled {
    background: #747474;
    color: #ffffff;
    cursor: default;
}

.no-decoration {
    text-decoration: inherit;
    color: inherit;
}

.margin-right-20px {
    margin-right: 20px;
}

.margin-top-25px {
    margin-top: 25px;
}

.margin-bottom-25px {
    margin-bottom: 25px;
}

.standard-table {
    text-align: left;
    font-size: 11pt;
}

.standard-table th,
.standard-table td {
    padding: 5px;
}

.standard-table tr:nth-child(odd) {
    background-color: #eee;
}

/**
 * Responsive design section
 */
@media (min-width: 1200px) {
    .main-header-content,
    .main-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1199px) {
    .main-header-content,
    .main-content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

/**
 * Messages styles
 */

.alert {
    display: flex;
    flex-grow: 1;
    padding: 12px;
    margin: 8px 0px;
    border-radius: 10px;
}

.alert-dismiss {
    /* unset default button styles */
    all: unset;
    cursor: pointer;
    margin-left: auto;
}

.alert-success {
    color: #053f00;
    background-color: #c9ffc6;
}

.alert-error {
    color: #690000;
    background-color: #ffc1c1;
}

.error-message {
    color: #d00;
    font-size: 12pt;
    font-style: italic;
    padding: 10px;
}

.text-link {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
}

.text-link:disabled {
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
}
