/**
 * Navigation bar styling adapted from:
 * https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535
 * Credit to: Anna Monus
 * Modifications made by: Daniel Lovegrove
 */

header {
    background-color: rgb(137, 34, 26);
    width: 100%;
    box-shadow: 0 4px 3px -3px #bbbbbb;
}

header.homepage {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
}

.main-navbar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    list-style: none;
}

.nav-title {
    margin-left: 20px;
    flex-grow: 1;
    align-content: start;
    justify-content: flex-start;
    text-align: left;
}

.nav-link {
    text-decoration: none;
    color: white;
    line-height: 40px;
}

#app-title:hover,
.nav-link:hover,
.nav-link:hover::after {
    color: #ee7421;
}

.nav-logo {
    order: 0;
    flex-grow: 0;
}

.nav-toggle-open {
    order: 1;
    flex: 1;
    text-align: right;
}

.nav-toggle-close {
    display: none; /* Hide initially */
    order: 1;
    flex: 1;
    text-align: right;
}

.nav-item {
    order: 2;
    margin-left: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

.active .nav-item {
    display: block;
}

.nav-button {
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;   
    color: #ffffff;
    text-decoration: none;
}

.nav-button:hover {
    background-color: #ffffff;
    color: #ee7421;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#app-logo {
    height: 70px;
}

/* Desktop menu (design is mobile-first) */
@media all and (min-width: 800px) {
    .main-navbar {
        align-items: center;
        flex-wrap: nowrap;
        background: none;
    }
    .nav-item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .nav-toggle-open,
    .nav-toggle-close {
        display: none !important;
    }
}
