<!DOCTYPE html>
<html>
    <head>
        <title>403: Forbidden</title>
        <style type="text/css">
            html {
                font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
            }

            body {
                padding: 1em;
            }

            .title {
                color: #333333;
                font-size: 20pt;
                margin-bottom: 15px;
                text-align: center;
            }

            .message {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="title">403: Forbidden</div>
        <p class="message">
            You are not allowed to access the requested resource.
        </p>
        <p class="message">
            <a href="/">Home</a>
        </p>
    </body>
</html>
