{% extends "admin/change_form.html" %}
{% load i18n %}
{% load static %}
{% block object-tools %}
    {% if change and not is_popup %}
        <ul class="object-tools">
            <li>
                <a href="#dates-of-creation-or-revision" class="button">History</a>
            </li>
            {% block object-tools-items %}
            {% endblock object-tools-items %}
        </ul>
    {% endif %}
{% endblock object-tools %}
{% block after_related_objects %}
    <div class="inline-group">
        <fieldset class="module">
            <h2 id="dates-of-creation-or-revision">Dates of creation or revision</h2>
            <div class="inline-related">
                {% for date in dates_of_creation_or_revision %}
                    <div class="date-entry {% if forloop.counter > 3 %}hidden{% endif %}">
                        <h3>
                            <b>{{ date.creation_or_revision_type.name }} @ {{ date.creation_or_revision_date }}</b>
                        </h3>
                        <fieldset class="module aligned">
                            {% if not date.creation_or_revision_agent and not date.creation_or_revision_note %}
                                <div class="form-row">
                                    <div class="non-editable-field">{% trans "No other details listed" %}</div>
                                </div>
                            {% endif %}
                            {% if date.creation_or_revision_agent %}
                                <div class="form-row">
                                    <div class="field-label">Creation or revision agent:</div>
                                    <div class="related-widget-wrapper">
                                        <div class="non-editable-field">{{ date.creation_or_revision_agent }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if date.creation_or_revision_note %}
                                <div class="form-row">
                                    <div class="field-label">Creation or revision note:</div>
                                    <div class="related-widget-wrapper">
                                        <div class="non-editable-field">{{ date.creation_or_revision_note }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </fieldset>
                    </div>
                {% endfor %}
                {% if dates_of_creation_or_revision|length > 3 %}<a href="#" id="show-more-dates">Show more...</a>{% endif %}
            </div>
        </fieldset>
    </div>
{% endblock after_related_objects %}
