# This is a sample .prod.env file, make a copy of it to .prod.env

DJANGO_SETTINGS_MODULE=bagitobjecttransfer.settings.docker_prod

ALLOWED_HOSTS=127.0.0.1 localhost

SIGN_UP_ENABLED=True
ALLOW_BAG_CHANGES=True
BAG_STORAGE_FOLDER=/app/media/bags
UPLOAD_STORAGE_FOLDER=/app/media/uploaded_files
ARCHIVIST_EMAIL=archivist@localhost

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root-pw
MYSQL_DATABASE=records-transfer-db
MYSQL_USER=records-user
MYSQL_PASSWORD=records-password

EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_SSL=False
EMAIL_USE_TLS=False
