# This is a sample .dockerenv file, make a copy of it to .dockerenv
# Use the variables as-is for testing, or make changes if needed

SIGN_UP_ENABLED=True
ALLOW_BAG_CHANGES=True
BAG_STORAGE_FOLDER=/app/media/bags
UPLOAD_STORAGE_FOLDER=/app/media/uploaded_files
ARCHIVIST_EMAIL=archivist@localhost
MYSQL_ROOT_PASSWORD=root-pw
MYSQL_DATABASE=records-transfer-db
MYSQL_USER=records-user
MYSQL_PASSWORD=records-password
