{% load i18n %}
{% if sort_options %}
    <div class="mb-4 flex flex-row gap-2 items-center">
        {% for key, value in request.GET.items %}
            {% if key != 'sort' and key != 'direction' %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endif %}
        {% endfor %}
        <label for="sort-field" class="sr-only">{% trans "Sort by:" %}</label>
        <select name="sort"
                id="sort-field"
                class="select select-bordered select-sm"
                aria-label="{% blocktrans %}Sort by{% endblocktrans %}"
                hx-get="{{ paginate_url }}"
                hx-target="#{{ target_id }}"
                hx-include="closest div">
            {% for value, label in sort_options.items %}
                <option value="{{ value }}" {% if current_sort == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <label for="sort-direction" class="sr-only">{% trans "Direction:" %}</label>
        <select name="direction"
                id="sort-direction"
                class="select select-bordered select-sm"
                aria-label="{% blocktrans %}Direction{% endblocktrans %}"
                hx-get="{{ paginate_url }}"
                hx-target="#{{ target_id }} "
                hx-include="closest div">
            <option value="asc" {% if current_direction == "asc" %}selected{% endif %}>{% trans "Ascending" %}</option>
            <option value="desc" {% if current_direction == "desc" %}selected{% endif %}>{% trans "Descending" %}</option>
        </select>
    </div>
{% endif %}
<div class="flex flex-col flex-initial mb-5">
    <div class="overflow-x-auto rounded-box border border-base-content/10 bg-base-100 max-h-[80vh]">
        <table class="table table-sm md:table-md">
            <!-- head -->
            <thead class="sticky top-0 bg-base-100 z-10">
                <tr>
                    {% block table_headers %}
                    {% endblock table_headers %}
                </tr>
            </thead>
            <tbody>
                {% block table_content %}
                {% endblock table_content %}
            </tbody>
        </table>
    </div>
    {% if page %}
        <div class="flex justify-center mt-5">
            {% include "includes/pagination.html" with page=page target_id=target_id paginate_url=paginate_url %}
        </div>
    {% endif %}
</div>
