{% load i18n %}
{% load static %}
<dialog id="base_modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div id="modal-content-container"
             hx-on::after-swap="handleModalAfterSwap(event)"
             hx-on::before-swap="handleModalBeforeSwap(event)">
            {# after-swap listener is on the parent to persist after swaps #}
            <div id="modal-content">
                {% block modal_content %}
                {% endblock modal_content %}
            </div>
        </div>
    </div>
</dialog>
