{% extends "includes/base_modal.html" %}
{% load i18n %}
{% block modal_content %}
    <h3 class="text-lg font-bold mb-5">
        {% if current_group %}
            {% blocktrans %}
                Change submission group for submission "{{ title }}"
            {% endblocktrans %}
        {% else %}
            {% blocktrans %}
                Assign submission group for submission "{{ title }}"
            {% endblocktrans %}
        {% endif %}
    </h3>
    <form method="dialog">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Submission groups</legend>
            <select class="select" id="group_select" onchange="updateGroupDescription()">
                <option value=""
                        data-description="{% trans "Select a group to see its description" %}"
                        disabled
                        {% if not current_group %}selected{% endif %}>{% trans "Choose a group" %}</option>
                {% for group in groups %}
                    <option value="{{ group.uuid }}"
                            data-description="{% if group.description %}{{ group.description }}{% else %}{% trans "No description available" %}{% endif %}"
                            {% if current_group and group.uuid == current_group.uuid %}selected{% endif %}>
                        {{ group.name }}
                        {% if current_group and group.uuid == current_group.uuid %}
                            {% trans "(current)" %}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
            <span class="label" id="group_description_display"></span>
        </fieldset>
        <div class="modal-action">
            <button class="btn">{% trans "Cancel" %}</button>
            {% if current_group %}
                <button id="unassign_group_btn"
                        hx-post=""
                        hx-vals='{"group_uuid": ""}'
                        hx-on::after-request=""
                        class="btn btn-outline btn-warning">{% trans "Unassign Group" %}</button>
            {% endif %}
            <button id="change_group_btn"
                    hx-post=""
                    hx-on::after-request=""
                    class="btn btn-primary">
                {% if current_group %}
                    {% trans "Change Group" %}
                {% else %}
                    {% trans "Assign Group" %}
                {% endif %}
            </button>
        </div>
    </form>
{% endblock modal_content %}
