{% load i18n %}
{% load static %}
<dialog id="confirm-modal" class="recordtransfer-modal">
    <div class="recordtransfer-modal-content">
        <div class="recordtransfer-modal-header">
            <h3>{{ title }}</h3>
            <button class="close-modal-button" id="close-modal-button">
                <img height="20"
                     width="20"
                     alt="Close"
                     src="{% static 'close_menu_64x64px.webp' %}"
                     draggable="false">
            </button>
        </div>
        <div class="recordtransfer-modal-body">
            <p>{{ message }}</p>
        </div>
        <div class="recordtransfer-modal-footer">
            <button id="cancel-button" class="red-button large-button">{% trans "Cancel" %}</button>
            <button id="confirm-button" class="green-button large-button">{% trans "Yes" %}</button>
        </div>
    </div>
</dialog>
