<form method="post" action="{% url 'recordtransfer:user_profile' %}">
    {% csrf_token %}
    <div class="space-y-3 md:space-y-4">
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-sm md:text-md">{% trans "Phone Number" %}</legend>
            <input type="tel"
                   class="input input-bordered input-sm md:input-md w-full"
                   name="phone"
                   id="id_phone"
                   placeholder="{% trans 'Enter phone number' %}">
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-sm md:text-md">{% trans "Address" %}</legend>
            <textarea class="textarea textarea-bordered textarea-sm md:textarea-md w-full"
                      name="address"
                      id="id_address"
                      rows="3"
                      placeholder="{% trans 'Enter address' %}"></textarea>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-sm md:text-md">{% trans "City" %}</legend>
            <input type="text"
                   class="input input-bordered input-sm md:input-md w-full"
                   name="city"
                   id="id_city"
                   placeholder="{% trans 'Enter city' %}">
        </fieldset>
        <div class="flex flex-col md:flex-row gap-4">
            <fieldset class="fieldset flex-1">
                <legend class="fieldset-legend text-sm md:text-md">{% trans "State/Province" %}</legend>
                <input type="text"
                       class="input input-bordered input-sm md:input-md w-full"
                       name="state"
                       id="id_state"
                       placeholder="{% trans 'Enter state/province' %}">
            </fieldset>
            <fieldset class="fieldset flex-1">
                <legend class="fieldset-legend text-sm md:text-md">{% trans "Postal Code" %}</legend>
                <input type="text"
                       class="input input-bordered input-sm md:input-md w-full"
                       name="postal_code"
                       id="id_postal_code"
                       placeholder="{% trans 'Enter postal code' %}">
            </fieldset>
        </div>
        <fieldset class="fieldset">
            <legend class="fieldset-legend text-sm md:text-md">{% trans "Country" %}</legend>
            <select class="select select-bordered select-sm md:select-md w-full"
                    name="country"
                    id="id_country">
                <option value="">{% trans "Select country" %}</option>
                <option value="US">{% trans "United States" %}</option>
                <option value="CA">{% trans "Canada" %}</option>
                <option value="GB">{% trans "United Kingdom" %}</option>
            </select>
        </fieldset>
    </div>
    <div class="card-actions justify-start md:justify-end mt-8 md:mt-10">
        <button type="submit" class="btn btn-primary btn-sm md:btn-md btn-wide">{% trans "Save Contact Info" %}</button>
    </div>
</form>
