{% extends "includes/base_modal.html" %}
{% load i18n %}
{% block modal_id %}
    delete_in_progress_submission_modal
{% endblock modal_id %}
{% block modal_title %}
    {% trans "Are you sure you want to delete this in-progress submission?" %}
{% endblock modal_title %}
{% block modal_content %}
    <p>
        {% trans "Do you wish to delete the in-progress submission from" %} {{ in_progress.last_updated|date:"F j, Y g:ia" }}
        {% if in_progress.title %}titled "{{ in_progress.title }}"{% endif %}
        ?
    </p>
    <div class="modal-action">
        <button class="btn">{% trans "Cancel" %}</button>
        <button hx-delete="{{ in_progress.get_delete_url }}"
                hx-on::after-request="delete_in_progress_submission_modal.close(); if (event.detail.successful) { htmx.ajax('GET', '{% url 'recordtransfer:in_progress_submission_table' %}', {target: '#{{ ID_IN_PROGRESS_SUBMISSION_TABLE }}', swap: 'innerHTML'}); }"
                class="btn btn-primary">{% trans "Yes" %}</button>
    </div>
{% endblock modal_content %}
