{% load i18n %}
<div class="flex-med-width-item">
    <table class="full-width-table standard-table" cellspacing="0">
        <tr>
            <th>{% trans "Last Updated" %}</th>
            <th>{% trans "Expires At" %}</th>
            <th>{% trans "Submission Title" %}</th>
            <th>{% trans "Resume Submission" %}</th>
            <th>{% trans "Delete" %}</th>
        </tr>
        {% for in_progress in in_progress_page_obj %}
            <tr>
                <td>{{ in_progress.last_updated|date:"D M j, Y" }} @ {{ in_progress.last_updated|time:"H:i" }}</td>
                <td>
                    {% if in_progress.upload_session_expires_at %}
                        <span class="
                            {% if in_progress.upload_session_expires_soon %}red-text{% endif %}
                            {% if in_progress.upload_session_expired %}strikethrough{% endif %}
                        ">
                            {{ in_progress.upload_session_expires_at|date:"D M j, Y" }} @ 
                            {{ in_progress.upload_session_expires_at|time:"H:i" }}
                        </span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ in_progress.title }}</td>
                <td>
                    {% if in_progress.upload_session_expired %}
                        -
                    {% else %}
                        <a href="{% url 'recordtransfer:submit' %}?resume={{ in_progress.uuid }}">Resume</a>
                    {% endif %}
                <td>
                    <a href="{% url 'recordtransfer:delete_in_progress' in_progress.uuid %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
