{% load i18n %}
<table class="full-width-table standard-table margin-bottom-25px" cellspacing="0">
    <tr>
        <th>{% trans "Last Updated" %}</th>
        <th>{% trans "Expires At" %}</th>
        <th>{% trans "Submission Title" %}</th>
        <th>{% trans "Resume Submission" %}</th>
        <th>{% trans "Delete" %}</th>
    </tr>
    {% for in_progress in page %}
        <tr>
            <td>{{ in_progress.last_updated|date:"D M j, Y" }} @ {{ in_progress.last_updated|time:"H:i" }}</td>
            <td>
                {% if in_progress.upload_session_expires_at %}
                    <span class="
                        {% if in_progress.upload_session_expires_soon %}red-text{% endif %}
                        {% if in_progress.upload_session_expired %}strikethrough{% endif %}
                    ">
                        {{ in_progress.upload_session_expires_at|date:"D M j, Y" }} @ 
                        {{ in_progress.upload_session_expires_at|time:"H:i" }}
                    </span>
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ in_progress.title }}</td>
            <td>
                {% if in_progress.upload_session_expired %}
                    -
                {% else %}
                    <a href="{{ in_progress.get_resume_url }}">Resume</a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'recordtransfer:delete_in_progress' uuid=in_progress.uuid %}">Delete</a>
            </td>
        </tr>
    {% empty %}
    <tr>
        <td colspan="5" class="empty-table-text">{% trans "You have no submissions that are in progress." %}</td>
    </tr>
    {% endfor %}
</table>
{% if page %}
    {% include "includes/pagination.html" with page=page target_id=target_id paginate_url=paginate_url %}
{% endif %}