{% load i18n %}
<div class="flex-med-width-item">
    <table class="full-width-table standard-table" cellspacing="0">
        <tr>
            <th>{% trans "Last Updated" %}</th>
            <th>{% trans "Transfer Title" %}</th>
            <th>{% trans "Resume Transfer" %}</th>
            <th>{% trans "Delete" %}</th>
        </tr>
        {% for submission in in_progress_page_obj %}
            <tr>
                <td>{{ submission.last_updated|date:"D M j, Y" }} @ {{ submission.last_updated|time:"H:i" }}</td>
                <td>{{ submission.title }}</td>
                <td>
                    <a href="{% url 'recordtransfer:transfer' %}?transfer_uuid={{ submission.uuid }}">Resume</a>
                </td>
                <td>
                    <a href="{% url 'recordtransfer:transferdelete' submission.uuid %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
