{% load i18n %}
<form id="account-info-form"
      hx-post="{% url 'recordtransfer:account_info_update' %}"
      hx-target="#account-info-form"
      hx-swap="innerHTML"
      hx-select="#account-info-form"
      hx-on::after-request="setupProfileForm()">
    {% csrf_token %}
    <fieldset class="fieldset w-full md:w-1/2">
        <legend class="fieldset-legend text-sm md:text-md">{% trans form.language.label %}</legend>
        <select name="{{ form.language.name }}"
                id="{{ form.language.id_for_label }}"
                class="select select-bordered select-sm md:select-md w-full bg-gray-50 text-gray-600"
                required>
            {% for value, display in form.language.field.choices %}
                <option value="{{ value }}"
                        {% if form.language.value == value %}selected{% endif %}>{{ display }}</option>
            {% endfor %}
        </select>
        {% if form.language.errors %}
            <p class="text-error text-xs md:text-sm">{% trans form.language.errors.0 %}</p>
        {% endif %}
    </fieldset>
</form>
