{% extends "includes/base_modal.html" %}
{% load i18n %}
{# djlint:off #}
{% block modal_id %}new_submission_group_modal{% endblock modal_id %}
{# djlint:on #}
{% block modal_content %}
    <h3 class="text-lg font-bold mb-5">{% trans "Create a new submission group" %}</h3>
    <form id="submission-group-form"
          hx-post="{% url 'recordtransfer:create_submission_group_modal' %}"
          hx-target="#modal-content-container"
          hx-swap="innerHTML"
          hx-select="#modal-content">
        {% csrf_token %}
        {% include "includes/submission_group_form_fields.html" %}
        <div class="modal-action">
            <button hx-on:click="base_modal.close()" type="button" class="btn">{% trans "Cancel" %}</button>
            <button type="submit" class="btn btn-primary" id="id_create_group_button">{% trans "Create" %}</button>
        </div>
    </form>
{% endblock modal_content %}
