{% load i18n %}
{% load query_params %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a hx-get="{% url 'recordtransfer:submission_group_table' %}?p={{ page_obj.previous_page_number }}&target_id={{ target_id }}" hx-target="#{{ target_id }}"
           class="btn-arrow btn-arrow-left"></a>
    {% else %}
        <a class="btn-arrow btn-arrow-left disabled" aria-disabled="true"></a>
    {% endif %}
    <span>
        {% blocktrans with curr_page=page_obj.number total_pages=page_obj.paginator.num_pages %}
            Page {{ curr_page }} of {{ total_pages }}
        {% endblocktrans %}
    </span>
    {% if page_obj.has_next %}
        <a hx-get="{% url 'recordtransfer:submission_group_table' %}?p={{ page_obj.next_page_number }}&target_id={{ target_id }}" hx-target="#{{ target_id }}"
           class="btn-arrow btn-arrow-right"></a>
    {% else %}
        <a class="btn-arrow btn-arrow-right disabled" aria-disabled="true"></a>
    {% endif %}
</div>
