{% load i18n %}
<div class="max-w-4xl mx-auto">
    <div class="mb-2 mt-5 text-xl lg:text-2xl text-primary">{% trans "Profile Settings" %}</div>
    <div class="tabs tabs-lift mt-4 md:mt-6">
        <input type="radio"
               name="profile_tabs"
               class="tab"
               aria-label="{% trans "Account" %}"
               checked />
        <div class="tab-content bg-base-100 border-base-300 p-10">
            {% include "includes/account_settings_form.html" with form=account_settings_form %}
        </div>
        <input type="radio"
               name="profile_tabs"
               class="tab"
               aria-label="{% trans "Contact Information" %}" />
        <div class="tab-content bg-base-100 border-base-300 p-10">
            {% include "includes/contact_info_form.html" with form=contact_info_form %}
        </div>
    </div>
</div>
