{% extends "includes/base_table.html" %}
{% load i18n %}
{% block table_headers %}
    <th>{% trans "Date Submitted" %}</th>
    <th>{% trans "Submission Title" %}</th>
    <th>{% trans "Files Submitted" %}</th>
    <th>{% trans "Actions" %}</th>
{% endblock table_headers %}
{% block table_content %}
    {% for submission in page %}
        <tr class="hover:bg-base-300">
            <td>{{ submission.submission_date }}</td>
            <td>{{ submission.metadata.accession_title }}</td>
            <td>{{ submission.extent_statements }}</td>
            <td>
                <div class="flex flex-row gap-4">
                    <a href="{% url 'recordtransfer:submission_detail' uuid=submission.uuid %}"
                       class="link link-info tooltip"
                       data-tip="{% trans "View Report" %}"
                       target="_blank"
                       id="view_submission_report_{{ forloop.counter }}">
                        <i class="fas fa-file-alt"></i>
                    </a>
                    <a hx-get="{% url 'recordtransfer:assign_submission_group_modal' uuid=submission.uuid %}"
                       hx-target="#modal-content-container"
                       hx-swap="innerHTML"
                       hx-select="#modal-content"
                       hx-trigger="click"
                       class="link link-warning tooltip"
                       data-tip="{% trans "Change/assign group" %}"
                       id="assign_submission_group_{{ forloop.counter }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{% url 'recordtransfer:submission_csv' uuid=submission.uuid %}"
                       class="link link-success tooltip"
                       data-tip="{% trans "Download CSV" %}"
                       id="id_download_csv_{{ forloop.counter }}">
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4" class="text-center p-4" id="no_groups_msg">
                {% if IN_GROUP %}
                    {% trans "You have not made any submissions in this group." %}
                {% else %}
                    {% trans "You have not sent any records to the NCTR." %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock table_content %}
