{% load i18n %}
<fieldset class="fieldset">
    <legend class="fieldset-legend text-sm md:text-md">{% trans form.name.label %}</legend>
    <input type="text"
           class="input input-bordered input-sm md:input-md validator w-full"
           name="{{ form.name.name }}"
           value="{{ form.name.value|default_if_none:'' }}"
           id="{{ form.name.id_for_label }}"
           required>
    {% if form.name.errors %}
        <p class="text-error text-xs md:text-sm">{% trans form.name.errors.0 %}</p>
    {% endif %}
</fieldset>
<fieldset class="fieldset">
    <legend class="fieldset-legend text-sm md:text-md">{% trans form.description.label %}</legend>
    <input type="text"
           class="input input-bordered input-sm md:input-md validator w-full"
           name="{{ form.description.name }}"
           value="{{ form.description.value|default_if_none:'' }}"
           id="{{ form.description.id_for_label }}">
    {% if form.description.errors %}
        <p class="text-error text-xs md:text-sm">{% trans form.description.errors.0 %}</p>
    {% endif %}
</fieldset>
