{% load i18n %}
{% load widget_tweaks %}

{% if not field.field.widget.is_hidden %}
    <fieldset class="fieldset mb-4">
        <legend class="fieldset-legend text-sm md:text-md">
            {{ field.label }}
            {% if field.field.required %}<span class="text-error ml-1">*</span>{% endif %}
        </legend>

        {% if field.field.widget.input_type == 'textarea' %}
            {{ field|add_class:"textarea textarea-bordered w-full bg-gray-50 text-gray-600" }}
        {% elif field.field.widget.input_type == 'select' %}
            {{ field|add_class:"select select-bordered w-full bg-gray-50 text-gray-600" }}
        {% elif field.field.widget.input_type == 'checkbox' %}
            <label class="label pb-2 cursor-pointer" for="{{ field.id_for_label }}">
                {{ field|add_class:"checkbox checkbox-primary" }}
                <span class="ml-2 text-sm">{{ field.label }}</span>
            </label>
        {% else %}
            {{ field|add_class:"input input-bordered input-sm md:input-md w-full bg-gray-50 text-gray-600" }}
        {% endif %}

        {% if field.errors %}
            {% for error in field.errors %}
                <p class="text-error text-xs md:text-sm mt-1">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </fieldset>
{% endif %}