{% extends "includes/base_table.html" %}
{% load i18n %}
{% block table_headers %}
    <th>{% trans "Group Name" %}</th>
    <th>{% trans "Group Description" %}</th>
    <th>{% trans "Submissions in Group" %}</th>
    <th>{% trans "Actions" %}</th>
{% endblock table_headers %}
{% block table_content %}
    {% for group in page %}
        <tr class="hover:bg-base-300">
            <td>{{ group.name }}</td>
            <td>{{ group.description }}</td>
            <td>{{ group.number_of_submissions_in_group }}</td>
            <td>
                <a href="{% url 'recordtransfer:submission_group_detail' uuid=group.uuid %}"
                   class="link link-info tooltip"
                   data-tip="{% trans "View group" %}">
                    <i class="fas fa-eye"></i>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4" class="text-center p-4">{% trans "You have not made any submission groups." %}</td>
        </tr>
    {% endfor %}
{% endblock table_content %}
