{% load static %}

<html>
<head>
    {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/dropzone.min.js"></script>
    <script src="{% static 'mockup/js/phonemask.js'%}"></script>
    <script src="{% static 'mockup/js/dropzoneconfig.js'%}"></script>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'mockup/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mockup/css/transfer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mockup/css/lib/dropzone.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'mockup/img/favicon.ico' %}"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="main-header-content">
            <a href="{% url 'mockup:index' %}" title="Go to home page">
                <img id="logo" src="{% static 'mockup/img/nctrlogo_flame_150x150px.png'%}">
            </a>
            <div class="header-title title-text">
                NCTR Record Transfer
            </div>
            <div class="navigation">
                Navigation Section
            </div>
            <div class="login">
                <button class="blue-button">Login</button>
            </div>
        </div>
    </header>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
