{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mockup/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mockup/css/general.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="header-title">
            NCTR Record Transfer
        </div>
        <div class="navigation">
            Navigation
        </div>
        <div class="login">
            <button>Login</button>
        </div>
    </header>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
