{% load static %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mockup/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mockup/css/transfer.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="main-header-content">
            <a href="{% url 'mockup:index' %}" title="Go to home page">
                <img id="logo" src="{% static 'mockup/img/nctrlogo_flame_150x150px.png'%}">
            </a>
            <div class="header-title title-text">
                NCTR Record Transfer
            </div>
            <div class="navigation">
                Navigation Section
            </div>
            <div class="login">
                <button class="brown-button">Login</button>
            </div>
        </div>
    </header>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
