{% extends 'mockup/base.html' %}
{% block title %}
Transfer Step {{ wizard.steps.step1 }} (of {{ wizard.steps.count }})
{% endblock %}

{% load static %}

{% block content %}
<div class="form-title title-text">{{ form_title }}</div>
<p>
    Transfer step {{ wizard.steps.step1 }} (of {{ wizard.steps.count }})
</p>
<form id="transfer-form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% for field in form %}
        {{ field }}
    {% endfor %}
    <div class="flex-full-width-item upload-file-section">
        <span class="upload-file-label">Upload Files</span>
    </div>
    <div id="dropzone-errors" class="flex-full-width-error">
    </div>
    <div class="flex-full-width-item">
        <div id="file-dropzone" class="dz-clickable custom-dropzone dropzone">
            <div class="dz-message">
                <table class="dz-message-table">
                    <tr>
                        <td>
                            <img src="{% static 'mockup/img/file-upload.png' %}">
                        </td>
                        <td>
                            Drop files here or click to upload
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="flex-full-width-item">
        <label for="nothing"></label>
        <div class="button-array">
            {% if wizard.steps.prev %}
                <button formnovalidate="formnovalidate"
                        name="wizard_goto_step"
                        value="{{ wizard.steps.prev }}"
                        class="blue-button margin-right-20px">
                    Previous Step
                </button>
            {% endif %}
            <button id="submit-form-btn" class="blue-button">
                {% if wizard.steps.step1 == wizard.steps.count %}
                    Submit
                {% else%}
                    Next Step
                {% endif %}
            </button>
        </div>
    </div>
</form>
{% endblock %}
