{% extends 'mockup/base.html' %}

{% block title %}Transfer Records to the NCTR{% endblock %}

{% block content %}

{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="form-title title-text">Transfer Records</div>
<form action="{% url 'mockup:sendtransfer' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="flex-item">
                <label for="nothing"></label>
                <div class="field-error">{{ error }}</div>
            </div>
            {% endfor %}
        {% endif %}
        <div class="flex-item">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.id_for_label == "id_upload_files" %}
                <div name="upload_files" id="id_upload_files" class="dz-clickable dropzone clsbox">
                    <div class="dz-default dz-message">
                        <span>Drop files here to upload</span>
                    </div>
                </div>
            {% else %}
                {{ field }}
            {% endif %}
        </div>
    {% endfor %}
    <div class="flex-item row-reverse">
        <label for="dummy_label"></label>
        <div>
            <button id="submit-transfer-form" type="submit" class="brown-button">Send</button>
        </div>
    </div>
</form>
{% endblock %}