{% extends 'mockup/base.html' %}

{% block title %}Transfer Records to the NCTR{% endblock %}

{% block content %}

{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="form-title title-text">Transfer Records</div>
<form id="transfer-form" action="{% url 'mockup:sendtransfer' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
            <div class="flex-item">
                <label for="nothing"></label>
                <div class="field-error">{{ error }}</div>
            </div>
            {% endfor %}
        {% endif %}
        {% if field.id_for_label != "id_file_list_json" %}
            <div class="flex-item">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <div class="flex-item">
        <label for="file_dropzone">Upload files</label>
        <div id="file_dropzone" class="dz-clickable dropzone clsbox">
            <div class="dz-default dz-message">
                Drop files here to upload
            </div>
        </div>
    </div>
    <div class="flex-item row-reverse">
        <label for="dummy_label"></label>
        <div>
            <button id="submit-form-btn" type="submit" class="brown-button">Send</button>
        </div>
    </div>
</form>
{% endblock %}