{% extends 'recordtransfer/email/_base_email.html' %}
{% load i18n %}

{% block title %}
{{ subject }}
{% endblock %}

{% block message %}
<p>
    {% blocktrans %}
    Your {{ changed_item }} for the NCTR Record Transfer Portal has been {{ changed_status }}.
    {% endblocktrans %}
</p>
{% if changed_list %}
    <p>
        {% blocktrans %}
        The following changes have been made to your account:
        {% endblocktrans %}
    </p>
    <ul>
        {% for change in changed_list %}
            <li>{{ change }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
