{% extends 'recordtransfer/email/_base_email.html' %}
{% load i18n %}

{% block title %}
{% blocktrans %}
Activate Your New Account, {{ user.username }}
{% endblocktrans %}
{% endblock %}

{% url 'recordtransfer:activateaccount' uidb64=uid token=token as activateaccount %}

{% block message %}
<div>
    {% blocktrans %}
    Someone created a new account for the NCTR Record Transfer Portal using this email.
    To activate your account, <a href="http://{{ base_url }}{{ activateaccount }}">click here</a>,
    or copy and paste the following link into your favourite browser:
    {% endblocktrans %}
</div>
<p>
    http://{{ base_url }}{{ activateaccount }}
</p>
{% endblock %}
