{% extends 'recordtransfer/email/_base_email.html' %}
{% load i18n %}

{% block title %}
{% blocktrans %}
New Transfer Submitted by {{ user.username }}
{% endblocktrans %}
{% endblock %}

{% block message %}
<div>
    {% blocktrans %}
    {{ user.first_name }} {{ user.last_name }} ({{ user.username }}) submitted a new
    transfer at {{ form_data.action_date }} with the NCTR Record Transfer Portal. To
    view their new submission, <a href="{{ submission_url }}">click here</a> or copy and paste
    the link below into your favourite browser:
    {% endblocktrans %}
</div>
<p>
    {{ submission_url }}
</p>
{% endblock %}
