<!DOCTYPE html>
<html style="
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;">
    <body style="
        margin: 0;">
        <div style="
            color: #333333;
            font-size: 20pt;
            width: 100%;
            padding: 6px 20px;
            background-color: #eeeeee;">
            Thank You for Your Transfer
        </div>
        <div style="
            padding: 0px 20px;">
            <p>
                Thank you for your record transfer using the NCTR Record Transfer Portal. The
                files you sent are being stored securely on our servers until an archivist has the
                opportunity to view them.
            </p>
            <p>
                If you have any questions about your transfer, you can email an NCTR archivist at
                this email address:
            </p>
            <p>
                {{ archivist_email }}
            </p>
            <div style="
                font-size: 10pt;">
                <i>This email address is not monitored, do not reply to this message.</i>
            </div>
            <div style="
                font-size: 10pt;">
                <i>If you do not want to receive these emails anymore, click this link.</i>
            </div>
        </div>
    </body>
</html>
