{% extends 'recordtransfer/email/_base_email.html' %}
{% load i18n %}

{% block title %}
{% blocktrans %}
Your Transfer Could not be Submitted
{% endblocktrans %}
{% endblock %}

{% block message %}
<p>
    {% blocktrans %}
    The record transfer you attempted to submit through the NCTR Record Transfer Portal
    did not go through correctly. You may try to submit you transfer again, or contact
    an NCTR archivist about your transfer at this email address:
    {% endblocktrans %}
</p>
<p>
    {{ archivist_email }}
</p>
{% endblock %}
