/*!****************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./app/caais/static/caais/css/base/metadataChangeForm.css ***!
  \****************************************************************************************************************************************************/
/* Fix weird styling for text inputs and textareas */
.inline-text-input,
.inline-textarea {
    width: 97%;
}

.enable-vertical-resize {
    resize: vertical;
    min-height: 1.25em;
}

.disable-resize {
    resize: none;
}

/* Fixes tabularinline styles for the DELETE? button(s) */
th.required {
    width: 92%;
}

td.delete {
    text-align: center;
    display: flex;
    justify-content: left;
    border-bottom: none;
    padding-left: 10px;
}

/* For dates of creation or revision */
.non-editable-field {
    font-size: 14px;
    padding: 6px 0 0 0;
}

.date-materials-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

input#id_date_of_materials {
    width: 23ch;
}

.flex-container.checkbox-row {
    display: flex;
    align-items: center;
}

.aligned .vCheckboxLabel {
    padding: 0 0 0 5px;
}

.field-date_of_materials {
    border-bottom: 0;
}

.field-date_is_approximate {
    padding-top: 0;
}

.date-is-approximate-wrapper {
    margin-top: 0;
    margin-left: 160px;
    padding-left: 10px;
}

@media screen and (max-width: 767px) {
    .date-is-approximate-wrapper {
        margin-left: 0;
        padding-left: 0;
    }
}
/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./app/caais/static/caais/css/base/inlineTextInputs.css ***!
  \**************************************************************************************************************************************************/
.inline-textarea {
    width: 97%;
    resize: none;
}
.inline-text-input {
    width: 97%;
}

