{% extends 'recordtransfer/base.html' %}
{% load i18n %}

{% block title %}{% trans "Create a new Password" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="account-form-container">
            <div class="account-page-title title-text">{% trans "Create a new Password" %}</div>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="account-error">
                        {{ error }}
                    </div>
                {% endfor %}
            {% else %}
                <p class="account-info">
                    {% trans "Create a new password for your account" %}
                </p>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="flex-error">
                                <label></label>
                                <div class="field-error">{{ error }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="flex-item">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="flex-item">
                    <label></label>
                    <button type="submit" class="blue-button">{% trans "Reset Password" %}</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="title-text">{% trans "Password Reset Failed" %}</div>
        <p>
            {% blocktrans %}
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
