{% if debug %}
    <script>console.log("DEBUGGING MODE!")</script>
    {% load static %}
    <script src="{% static 'recordtransfer/js/base/forms.js' %}"></script>
    <script src="{% static 'recordtransfer/js/base/navbar.js' %}"></script>
    <script src="{% static 'recordtransfer/js/base/widgetconfig.js' %}"></script>
{% else %}
    <script>console.log("MINIFYING PIPELINE LOADED!")</script>
    <script>console.log("value of DEBUG: {{DEBUG}}")</script>
    {% load pipeline %}
    {% javascript 'recordtransfer_base_js' %}
{% endif %}