{% if USE_PIPELINE %}
    {% load pipeline %}
    {% stylesheet 'recordtransfer_base_styles' %}
{% else %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/banner.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/accounts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/transferform.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/widget.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recordtransfer/css/base/dropzone.css' %}">
{% endif %}
