{% load i18n %}
{% if in_process_submissions %}
    <div class="flex-med-width-item margin-top-25px" id="ongoing-transfers">
        <label class="medium-text">{% trans "In Progress Transfers" %}</label>
    </div>
    <div class="flex-med-width-item">
        <table class="full-width-table standard-table" cellspacing="0">
            <tr>
                <th>{% trans "Last Updated" %}</th>
                <th></th>
                <th></th>
            </tr>
            {% for in_process in in_process_submissions %}
                <tr>
                    <td>{{ in_process.last_updated|date:"D M j, Y" }} @ {{ in_process.last_updated|time:"H:i" }}</td>
                    <td>
                        <a href="{% url 'recordtransfer:transfer' %}?resume_transfer={{ in_process.id }}">Resume</a>
                    </td>
                    <td>
                        <a href="{% url 'recordtransfer:transferdelete' in_process.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
