{% load i18n %}
{% if in_progress_submissions %}
    <div class="flex-med-width-item margin-top-25px" id="ongoing-transfers">
        <label class="medium-text">{% trans "In Progress Transfers" %}</label>
    </div>
    <div class="flex-med-width-item">
        <table class="full-width-table standard-table" cellspacing="0">
            <tr>
                <th>{% trans "Last Updated" %}</th>
                <th></th>
                <th></th>
            </tr>
            {% for submission in in_progress_submissions %}
                <tr>
                    <td>{{ submission.last_updated|date:"D M j, Y" }} @ {{ in_process.last_updated|time:"H:i" }}</td>
                    <td>
                        <a href="{% url 'recordtransfer:transfer' %}?resume_transfer={{ submission.id }}">Resume</a>
                    </td>
                    <td>
                        <a href="{% url 'recordtransfer:transferdelete' submission.uuid %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
