{% load i18n %}
{% load query_params %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?{% update_query_params pagination_name page_obj.previous_page_number %}"
           class="btn-arrow btn-arrow-left">{% trans "Previous" %}</a>
    {% else %}
        <a class="btn-arrow btn-arrow-left disabled" aria-disabled="true">{% trans "Previous" %}</a>
    {% endif %}
    <span>{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
        <a href="?{% update_query_params pagination_name page_obj.next_page_number %}"
           class="btn-arrow btn-arrow-right">{% trans "Next" %}</a>
    {% else %}
        <a class="btn-arrow btn-arrow-right disabled" aria-disabled="true">{% trans "Next" %}</a>
    {% endif %}
</div>
