{% load i18n %}
<div class="flex-full-width-item">
    <table class="full-width-table standard-table" cellspacing="0">
        <tr>
            <th>{% trans "Submission ID" %}</th>
            <th>{% trans "Date Transferred" %}</th>
            <th>{% trans "Transfer Title" %}</th>
            <th>{% trans "Files Transferred" %}</th>
            <th>{% trans "View Report" %}</th>
            <th>{% trans "Download CSV" %}</th>
        </tr>
        {% for submission in submissions_page_obj %}
            <tr>
                <td>{{ submission.uuid }}</td>
                <td>{{ submission.submission_date }}</td>
                <td>{{ submission.metadata.accession_title }}</td>
                <td>{{ submission.extent_statements }}</td>
                <td>
                    <a href="{% url "recordtransfer:submissiondetail" uuid=submission.uuid %}">{% trans "Click to view report" %}</a>
                </td>
                <td>
                    <a href="{% url "recordtransfer:submissioncsv" uuid=submission.uuid %}">{% trans "Click to download" %}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
