{% load i18n %}
{% include "includes/messages.html" %}
<script>
    // Pass constants to JavaScript
    const ID_SUBMISSION_GROUP_DESCRIPTION = "{{ ID_SUBMISSION_GROUP_DESCRIPTION }}";
    const ID_SUBMISSION_GROUP_NAME = "{{ ID_SUBMISSION_GROUP_NAME }}";
</script>
<form method="post"
      action="{% url 'recordtransfer:submissiongroup' uuid=group.uuid %}"
      class="margin-top-25px">
    {% csrf_token %}
    {% for field in form %}
        <div class="error-message">{{ field.errors.0 }}</div>
        <div class="flex-item">{{ field.label_tag }} {{ field }}</div>
    {% endfor %}
    <div class="flex-item">
        <label></label>
        <button type="submit" class="blue-button" id="id_save_button">{% trans "Save" %}</button>
    </div>
</form>
{% include "includes/submission_group_js.html" %}
