{% extends "recordtransfer/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Login" %}
{% endblock title %}
{% block content %}
    <div class="container mx-auto max-w-lg py-8 px-4">
        <div class="bg-white shadow-lg rounded-lg p-6 border border-gray-100">
            <!-- Title -->
            <div class="mb-4 text-4xl text-primary text-center">{% trans "Login to your Account" %}</div>
            <!-- Error Message -->
            <!-- Form -->
            <!-- Wrap the form in a container div for dynamic replacement -->
            <div id="login-form-container">{% include "registration/login_form.html" %}</div>
            <!-- Forgot Password -->
            <div class="mt-6 text-center">
                <a href="{% url 'password_reset' %}"
                   class="text-primary hover:text-primary/80">{% trans "Forgot your password?" %}</a>
            </div>
        </div>
    </div>
{% endblock content %}
