{% extends "recordtransfer/email/email_base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% blocktrans %}Reset Your Password{% endblocktrans %}
{% endblock title %}
{% block content %}
    <div>
        {% blocktrans %}
            Someone asked for a password reset for the NCTR Record Transfer Portal.
            Follow the link below to reset your password:
        {% endblocktrans %}
    </div>
    <div style="text-align: left; margin-top: 20px;">
        {% url 'password_reset_confirm' uidb64=uid token=token as password_reset_url %}
        <a href="{{ protocol }}://{{ domain }}{{ password_reset_url }}"
           style="display: inline-block;
                  background-color: #EE7623;
                  color: white;
                  padding: 10px 20px;
                  font-weight: bold;
                  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
            {% blocktrans %}Reset Password{% endblocktrans %}
        </a>
        <!-- Fallback text link for plain-text clients -->
        <p style="font-size: 10px; color:#A0A0A0; margin-top: 10px;">
            {% trans "If the button doesn't work, copy and paste this link into your browser:" %}
            <br>
            <a href="{{ protocol }}://{{ domain }}{{ password_reset_url }}"
               style="color:#606060">{{ protocol }}://{{ domain }}{{ password_reset_url }}</a>
        </p>
    </div>
    <div style="margin-top: 20px; font-size: 10pt; color: #666;">
        <p>
            <i>{% trans "This email address is not monitored, do not reply to this message." %}</i>
        </p>
    </div>
{% endblock content %}
