<!DOCTYPE html>
<html style="
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;">
    <body style="
        margin: 0;">
        <div style="
            color: #333333;
            font-size: 20pt;
            width: 100%;
            padding: 6px 20px;
            background-color: #eeeeee;
            margin-bottom: 15px;">
            Reset Password
        </div>
        <div style="
            padding: 0px 20px;">
            <div>
                Someone asked for a password reset for the <a href="{{ protocol }}://{{ domain }}">
                NCTR Record Transfer Portal</a>. Follow the link below to reset your password:
            </div>
            <div style="
                margin: 20px 20px;">
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token%}">
                    Reset Password
                </a>
            </div>
            <div>
                If that link doesn't work, copy and paste this link into your browser, and press
                enter:
            </div>
            <div style="
                margin: 20px 20px;">
                {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token%}
            </div>
            <div style="
                font-size: 10pt;">
                <i>This email address is not monitored, do not reply to this message.</i>
            </div>
            <div style="
                font-size: 10pt;">
                <i>If you do not want to receive these emails anymore, click this link.</i>
            </div>
        </div>
    </body>
</html>
