{% extends 'recordtransfer/base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Email Sent" %}
{% endblock %}
{% block content %}
    <div class="title-text">{% trans "Password Reset Email Sent" %}</div>
    <p>
        {% blocktrans %}
            If the email you provided is associated with a user account, you should
            receive an email shortly to reset your password.
        {% endblocktrans %}
    </p>
    <p>
        <a href="{% url 'recordtransfer:index' %}">{% trans "Home" %}</a>
    </p>
{% endblock %}
