{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% block extrahead %}
    {{ block.super }}
    <link rel="icon" href="{% static 'recordtransfer/img/favicon.ico' %}" />
    {{ js_context|json_script:"py_context_admin" }}
    {% render_bundle 'admin' 'js' %}
    {% render_bundle 'admin' 'css' %}
{% endblock extrahead %}
{% block branding %}
    <img height="40"
         src="{% static 'recordtransfer/img/nctrlogo_flame_150x150px.png' %}"
         alt="NCTR Logo" />
    <h1 style="line-height: 40px;" id="site-name">
        <a href="{% url 'admin:index' %}">{% trans "NCTR Secure Record Transfer App Administration" %}</a>
    </h1>
{% endblock branding %}
