{% extends "admin/base_site.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block extrahead %}
    {{ block.super }}
    <link rel="icon" href="{% static 'recordtransfer/img/favicon.ico' %}" />
    {{ js_context|json_script:"py_context_admin" }}
    {% render_bundle 'admin_recordtransfer' 'js' %}
{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        html[data-theme="light"], :root {
            --primary: #b13d32;
            --secondary: #f0f0f0;
            --breadcrumbs-fg: #b6cbdd;
            --breadcrumbs-bg: #b13d32;
            --header-color: #333333;
            --header-link-color: #ffffff;
            --default-button-bg: #3c83a3;
            --button-bg: #81b6ce;
            --accent: #333333;
            --selected-row: #d9f2ff;

            /* Override the section having color: var(--header-link-color) */
            .section {
                color: var(--secondary);
            }

            /* Override the section:visited having color: var(--header-color) */
            .section:visited {
                color: var(--secondary) !important;
            }

            #header a:link, #header a:visited, #logout-form button {
                color: var(--link-fg);
            }

            .theme-icon-when-light {
                fill: var(--link-fg);
            }

            #user-tools a, #logout-form button {
                border-bottom: 1px solid #c2c2c2;
            }
        }

        html[data-theme="dark"], :root {
            --primary: #6b0900;
            --secondary: #5c5c5c;
            --accent: #ebebeb;
            --header-color: #cecece;
            --header-link-color: var(--accent);
            --header-bg: #1a1a1a;
            --default-button-bg: #3c83a3;
            --button-bg: #325261;
            --breadcrumbs-bg: #292929;
            --selected-row: #4e636d;

            /* Override the section having color: var(--header-link-color) */
            .section {
                color: var(--primary-fg);
            }

            /* Override the section:visited having color: var(--header-color) */
            .section:visited {
                color: var(--primary-fg) !important;
            }
        }

        #branding img {
            float: left;
            margin-right: 10px;
        }

        #header {
            box-shadow: 0 4px 3px -3px #bbb;
        }

        #branding h1 {
            float: left;
        }
    </style>
{% endblock %}
{% block branding %}
    <img height="40" src="{% static 'nctrlogo_flame_150x150px.webp' %}">
    <h1 style="line-height: 40px;" id="site-name">
        <a href="/admin/">NCTR Transfer App Administration</a>
    </h1>
{% endblock %}
