{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrahead %}
    {{ block.super }}
    {# textarea overflow fix #}
    <style>
        .field-statement > textarea {
            width: 98%;
        }

        .field-note > textarea {
            width: 98%;
        }
    </style>
{% endblock %}
{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <a href="{% url "recordtransfer:submission_detail" uuid=original.uuid %}">{% trans "Click to view submission report" %}</a> |
        <a href="{% url "recordtransfer:submission_csv" uuid=original.uuid %}">{% trans "Click to download CSV export" %}</a> |
        <a href="{{ original.get_admin_zip_url }}">{% trans "Click to create a downloadable bag" %}</a>
    </div>
{% endblock %}
