.account-form-container {
    margin-top: 30px;
    padding: 30px 30px 30px 30px;
    border-radius: 4px;
    background-color: #eeeeee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 3px -1px #bbbbbb;
}

.account-page-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.account-error,
.account-info {
    text-align: center;
}

.account-error {
    color: red;
}

#forgot-password {
    margin-bottom: 0px;
}

@media(min-width: 1000px) {
    .account-form-container {
        width: 50%;
    }
}
