/**
 * Footer-specific styles. The footer contains one or more footer-blocks, which are flex items.
 */

.footer {
    color: white;
    margin-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    font-size: 11pt;

    /* Flex-specific */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-column {
    margin-top: 25px;
    flex: 1 1 0;
}

.footer-column.center-justify {
    justify-content: center;
    text-align: center;
}

.footer-column.left-justify {
    justify-content: left;
}

.footer-item {
    max-width: 640px;
    padding: 0px 20px;
    margin-top: 6px;
}

.extra-top-margin {
    margin-top: 25px;
}

.extra-bottom-margin {
    margin-bottom: 25px;
}

.footer-link-title {
    color: #fcb46c;
    font-family: Merriweather,serif;
    font-size: 18pt;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #7a7a7a;
}

.contact-link-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact-link-container > svg {
    height: 18;
    width: 18px;
    fill: currentColor;
}

.contact-link-container > a {
    text-decoration: none;
    margin-left: 8px;
    color: currentColor;
}

.contact-link-container:hover {
    color: #7a7a7a;
}

.footer-bottom {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #ab221d;
}

#copyright {
    font-size: 0.8rem;
    color: white;
    line-height: 40px;
    text-align: center;
}

@media(max-width: 700px) {
    #footer-logo {
        width: 300px;
    }

    .footer-column {
        flex: none;
        width: 100%;
        text-align: center;
    }
}
