.account-form-container {
    margin-top: 30px;
    padding: 30px 30px 30px 30px;
    border-radius: 4px;
    background-color: #eeeeee;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 3px -1px #bbbbbb;
}

.account-page-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.account-error,
.account-info {
    text-align: center;
}

.account-error {
    color: red;
    margin-bottom: 10px;
}

#forgot-password {
    margin-bottom: 0px;
}

/* Error animation */
@keyframes errorAppear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0) translateX(3px);
    }

    65% {
        transform: translateY(0) translateX(-2px);
    }

    80% {
        transform: translateY(0) translateX(1px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

.animate-error-appear {
    animation: errorAppear 0.5s ease-out forwards;
}

@media(min-width: 1000px) {
    .account-form-container {
        width: 50%;
    }
}