textarea,
input,
button,
select,
html {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    height: 100%;
}

.flex-wrapper {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.focused-content {
    padding: 0;
}

.main-container {
    flex: 1 0 auto;
}

.main-content {
    padding: 18px 12px 18px 12px;
}

.main-content {
    margin-left: auto;
    margin-right: auto;
}

.main-header-content {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
}

h1,
.title-text {
    font-weight: normal;
    color: #333333;
    font-size: 20pt;
}

h2 {
    font-weight: normal;
    color: #333333;
    font-size: 16;
}

.text-light {
    color: white;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}

/**
 * Messages styles
 */

.alert {
    display: flex;
    flex-grow: 1;
    padding: 12px;
    margin: 20px 0;
    border-radius: 10px;
}

.alert-dismiss {
    /* unset default button styles */
    all: unset;
    cursor: pointer;
    margin-left: auto;
}

.alert-success {
    color: #053f00;
    background-color: #c9ffc6;
}

.alert-error {
    color: #690000;
    background-color: #ffc1c1;
}

.step-link {
    background: none;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.2s;
}

.step-link i {
    font-size: 0.8rem;
}

.step-link {
    padding: 0.5rem 1rem;
}

.logical-rounded {
    border-start-start-radius: var(--join-ss, var(--radius-field));
    border-start-end-radius: var(--join-se, var(--radius-field));
    border-end-start-radius: var(--join-es, var(--radius-field));
    border-end-end-radius: var(--join-ee, var(--radius-field));
}

@media (max-width: 1199px) {

    .main-header-content,
    .main-content {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
