.footer {
    background-color: #89140a;
    color: white;
    padding: 50px 80px 20px 80px;
    font-family: "Open Sans", sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    column-gap: 40px;
    row-gap: 20px;
}

.footer-column {
    margin-bottom: 30px;
    /* Four column layout for large screens */
    width: calc(25% - 30px);
}

/* Logo styling */
.footer-logo {
    display: flex;
    flex-direction: column;
}

.logo {
    max-width: 100%;
}

.hidden-unesco-logo-container {
    display: none;
}

/* Headings */
.footer h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: 600;
}

/* Footer links */
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu li {
    margin-bottom: 12px;
}

.footer a,
.footer p {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.footer-more a,
.footer-more p,
.footer-contact a,
.footer-contact p {
    font-size: small;
}

.footer-contact i,
.footer-social i {
    color: white;
}

.contact-content i {
    margin-right: 10px;
}

.footer a:hover,
.social-icons i:hover {
    color: #F5A81C;
    transition: color 0.3s ease-in-out;
}

.footer ul,
.footer p {
    margin: 15px 0;
}

/* Social icons */
.social-icons {
    display: flex;
    gap: 30px;
}

.social-icon {
    font-size: 35px !important;
}

.hidden-social-content {
    display: none;
    margin-top: 30px;
}

/* Footer bottom */
.footer-bottom {
    text-align: left;
    font-size: 10px;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.6);
}

/* Media query for medium screens (two columns) */
@media (max-width: 1200px) {
    .footer-column {
        width: calc(50% - 30px);
    }

    .footer-logo {
        order: 3;
    }

    .footer-more {
        order: 1;
    }

    .footer-contact {
        order: 2;
    }

    .footer-social {
        order: 4;
    }
    .unesco-logo-container,
    .social-content {
        display: none;
    }

    .hidden-social-content,
    .hidden-unesco-logo-container {
        display: block;
    }

    .logo {
        max-width: 70%;
    }
}

/* Media query for small screens (one column) */
@media (max-width: 800px) {
    .footer-column {
        width: 100%;
    }

    .footer-container {
        row-gap: 0;
    }

    .footer-logo {
        order: 4;
    }

    .footer-more {
        order: 1;
    }

    .footer-contact {
        order: 2;
    }

    .footer-social {
        order: 3;
    }

    .social-icons {
        justify-content: center;
    }

    .footer,
    .footer-bottom {
        text-align: center;
    }
}