/* Mobile-first styles for navbar */

header {
    background-color: rgb(137, 34, 26);
    width: 100%;
    box-shadow: 0 4px 3px -3px #bbbbbb;
}

header.homepage {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
}

.main-navbar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-logo {
    order: 0;
    flex-grow: 0;
}

/* Greyed-out overlay applied when mobile menu is open */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 999;
}

.menu-overlay.show {
    visibility: visible;
    opacity: 1;
}

/* Site title */
.nav-title {
    margin-left: 20px;
    flex-grow: 1;
    align-content: start;
    justify-content: flex-start;
    text-align: left;
}


/* Sliding menu styles */
.nav-items-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60%;
    right: 0;
    transform: translateY(0);
    height: auto;
    max-height: 100vh;
    width: 300px;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    z-index: 1000;
    visibility: hidden;
    box-sizing: border-box;
    border-radius: 5px;
}

.nav-items-container.open {
    top: 80%;
    visibility: visible;
    transition: top 0.3s ease, opacity 0.3s ease;
}

/* Container for each nav item */
.nav-item {
    flex-grow: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: rgb(137, 34, 26);
}

/* Container for login/logout button */
.nav-item-button {
    margin-top: 40px;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: rgb(137, 34, 26);
}

/* Adds flex display to nav items */
.nav-item-flex {
    display: flex;
    align-items: center;
}

.nav-link,
.nav-link-icon {
    flex-grow: 1;
    text-decoration: none;
    line-height: 40px;
    color: inherit;
}

.nav-toggle-open {
    order: 1;
    flex: 1;
    text-align: right;
    display: block;
    font-size: 20pt;
}

/* Burger button */
.nav-icon-bars {
    display: inline-block;

}

.nav-wrapper {
    top: 10%;
}

.nav-icon-close {
    display: none;
}

.nav-toggle-button.active .nav-icon-bars {
    display: none;
}

.nav-toggle-button.active .nav-icon-close {
    display: inline-block;
}

.nav-toggle-button {
    padding: 4px 15px;
    color: white;
    transition: all 0.3s ease;
    position: relative;
    transition: color 0.3s ease;
}

.nav-toggle-button.active {
    background-color: white;
    color: #ee7421;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 20px;
    z-index: 1001;
    transition: all 0.3s ease;
}

/* Login/logout button */
.nav-button {
    border: 3px solid rgb(137, 34, 26);
    border-radius: 3rem;
    text-decoration: none !important;
}

.nav-button:hover {
    background-color: rgb(137, 34, 26);
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/*Smaller resolution styles*/
@media (max-width: 480px) {
    .header .icon {
        width: 24px;
        height: 24px;
    }

    .nav-items-container {
        width: 80vw;
        right: 5vw;
        padding: 40px 15px;
    }

    .nav-item-flex {
        height: 4vh;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .nav-wrapper {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 50px;

    }

    .nav-title {
        margin-left: 20px;
        flex-grow: 1;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

/* Mobile-only transitions */
@media all and (max-width: 799px) {

    .nav-items-container {
        transition: opacity 0.3s ease-out;
    }

    .nav-item:hover {
        background-color: #f2f2f2;
    }

    .nav-wrapper {
        position: fixed;
        z-index: 1000;
        right: 0;
        flex-grow: 0;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 40px;
    }

    .nav .nav-wrapper.open {
        transform: translateY(0);
    }
}


/* Desktop menu */
@media all and (min-width: 800px) {
    .main-navbar {
        align-items: center;
        flex-wrap: nowrap;
        background: none;
    }

    .nav-items-container {
        position: static;
        flex-direction: row;
        align-items: center;
        height: auto;
        width: auto;
        background: none;
        box-shadow: none;
        padding: 0;
        display: flex;
        visibility: visible;
        transition: none;
    }

    .nav-item,
    .nav-item-button {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 20px;
        position: relative;
        display: block;
        width: auto;
    }

    /* Hide the burger menu in desktop mode */
    .nav-toggle-open {
        display: none;
    }

    .nav-link {
        color: white;
    }

    .nav-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 12px;
    }

    /* Hide the navigation icons in desktop mode */
    .nav-link-icon {
        display: none;
    }

    .nav-button {
        border: 3px solid rgba(255, 255, 255, 0.7);
        border-radius: 3rem;
        padding: 0.1rem 0.8rem;
        color: #ffffff;
        text-decoration: none;
    }

    .nav-button:hover {
        background-color: #ffffff;
        color: #ee7421;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}