/**
 * CSS classes specific to the submission form.
 */

.field-error {
    color: red;
}

.fa-info-circle {
    transition: color 0.1s ease-in-out;
}

.fa-info-circle:hover {
    color: #545b62;
}

.imminent-removal {
    label {
        color: red;
        text-decoration: line-through;
        transition: 120ms ease-in-out;
    }

    select,
    input,
    textarea {
        background-color: #fff1f1 !important;
        border: 1px solid red !important;
        border-radius: 3px;
        transition: 120ms ease-in-out;
    }
}

.required-field:after,
.faux-required-field:after {
    content: "  *";
    color: #d00;
    font-weight: bold;
    font-size: 1.1em;
}
