.ui-widget.ui-widget-content {
    box-shadow: 4px 4px 3px -3px #bbbbbb;
    border: 1px solid #575757;
}

.form-tooltip {
    font-size: 11pt;
    background-color: #333333;
    color: white;
    border: 5px;
}

@media(max-width: 700px) {
    .form-tooltip {
        width: 200px;
    }
}
