{% extends "base_error.html" %}
{% load i18n %}
{% block error_title %}
    {% trans "Forbidden" %}
{% endblock error_title %}
{% block error_icon %}
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-12 w-12 text-primary/60"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636a9 9 0 11-12.728 0m12.728 0A9 9 0 005.636 18.364m12.728-12.728L5.636 18.364" />
    </svg>
{% endblock error_icon %}
{% block error_heading %}
    {% trans "403: Forbidden" %}
{% endblock error_heading %}
{% block error_message %}
    {% trans "You are not allowed to access the requested resource." %}
{% endblock error_message %}
{% block error_submessage %}
{% endblock error_submessage %}
