{% extends "base_error.html" %}
{% load i18n %}
{% block error_title %}
    {% trans "System Error" %}
{% endblock error_title %}
{% block error_icon %}
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-12 w-12 text-primary/60"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
    </svg>
{% endblock error_icon %}
{% block error_heading %}
    {% trans "System Error" %}
{% endblock error_heading %}
{% block error_message %}
    {% trans "We're sorry, but this site is experiencing some issues." %}
{% endblock error_message %}
{% block error_submessage %}
    {% trans "Please try again later. Contact us if you continue to experience issues." %}
{% endblock error_submessage %}
