{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="description"
              content="Internal server error page - An error occurred while processing your request.">
        <title>500: Internal Server Error</title>
        <style type="text/css">
            html {
                font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
            }

            body {
                padding: 1em;
            }

            .title {
                color: #333333;
                font-size: 20pt;
                margin-bottom: 15px;
                text-align: center;
            }

            .message {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="title">500: Internal Server Error</div>
        <p class="message">An error occurred on the server.</p>
        <p class="message">
            <a href="/">Home</a>
        </p>
    </body>
</html>
